@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

// cs main

.cs-contact-wrap {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    background: var(--Grayscale-0);
    border-radius: 21px;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 9px;
    left: 9px;
    width: 24px;
    height: 24px;
    @include mixins.svg_mask('/assets/images/common/comm_ico_headphone_cs', var(--Grayscale-80));
  }

  .ctitle-zero-wrap {
    padding-left: 52px;
  }

}

.flex-center-group {
  :deep(.flex-faq-left) {

    .bar-group {
      .bar-item {
        &:has(.ctitle-lg) { // ctitle 18px
          &::after {
            margin-top: 6px;
          }
        }
      }
    }
  }
}


// 임시
.ctitle-zero-wrap { // ctitle 15px ~ tbtn 13px 여백
  .ctitle-md {
    + .tbtn-xs {
      margin-top: 6px;
    }
  }
}
