@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

// 배송 상품 선택
.glist-wrap {
  .grid-col4-list {
    .item-grid-category {
      width: 100%;

      .btn-light-gray-sm {
        width: 100%;
        padding: 0 3px;
      }

      &.is-active {
        .btn-light-gray-sm {
          border-color: var(--Primary-Green-100);
          background-color: var(--Grayscale-0);

          .text {
            color: var(--Primary-Green-100);
          }
        }
      }
    }
  }
}

// 배송 조회 리스트 type col
.delivery-step-col-list {
  position: relative;
  @include mixins.justify_width(center, between);
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 4px;
    height: 2px;
    background-color: var(--Grayscale-30);
    border-radius: 2px;
    vertical-align: top;
  }

  /*&:has(:not(.is-active)) {
    .delivery-step-item {
      .status, .sub-status {
        color: var(--Grayscale-60);
      }
      &:after {
        border: 2px solid var(--Grayscale-30);
      }
    }
  }

  &:has(.is-active) {
    .delivery-step-item {
      .status {
        color: var(--Grayscale-90);
      }
      &:after {
        border: 2px solid var(--Primary-Green-100);
      }
    }
  }

  &:has(.delivery-step-item:nth-child(1).is-active) {
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 4px;
      height: 2px;
      width: calc(33% / 4);
      background-color: var(--Primary-Green-100);
      border-radius: 2px;
    }
  }

  &:has(.delivery-step-item:nth-child(2).is-active) {
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 4px;
      height: 2px;
      width: calc(50% - 13%);
      background-color: var(--Primary-Green-100);
      border-radius: 2px;
    }
  }

  &:has(.delivery-step-item:nth-child(3).is-active) {
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 4px;
      height: 2px;
      width: 66%;
      background-color: var(--Primary-Green-100);
      border-radius: 2px;
    }
  }

  &:has(.delivery-step-item:last-child.is-active) {
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 4px;
      height: 2px;
      width: 100%;
      background-color: var(--Primary-Green-100);
      border-radius: 2px;
    }
  }*/

  .delivery-step-item {
    flex: 1;
    position: relative;
    padding-top: 16px;
    font-size: 0;
    @include mixins.justify_width(center, center, column);

    .status {
      display: block;
      @include mixins.font_size_md;
      color: var(--Grayscale-100);
    }

    .sub-status {
      display: block;
      margin-top: -2px;
      @include mixins.font_size_xs;
      color: var(--Grayscale-60);
    }

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      display: block;
      height: 2px;
      width: 100%;
      background-color: var(--Primary-Green-100);
    }

    &:after {
      content: '';
      z-index: 9;
      position: absolute;
      top: 1px;
      left: 50%;
      @include mixins.prefix(transform, translateX(-50%));
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      vertical-align: top;
      background-color: var(--Grayscale-0);
    }

    &:first-child,
    &:last-child {
      flex: 0 0 auto;
    }

    &.is-active {
      &:before {
        width: 50%;
        left: 0;
        background-color: var(--Primary-Green-100);
      }

      .status {
        color: var(--Primary-Green-100);
        font-weight: variables.$fontWeightSemibold;
      }

      &:last-child {
        &:before {
          width: 100%;
          background-color: var(--Primary-Green-100);
        }
      }

      ~ .delivery-step-item {
        .status, .sub-status {
          color: var(--Grayscale-60);
        }
        // 그레이로
        &:after {
          border: 2px solid var(--Grayscale-30);
        }
        &:before {
          background-color: var(--Grayscale-30);
        }
      }
    }
  }

  ~ .fold-overflow-box,
  ~ .light-gray-md-box {
    margin-top: 16px;
  }
}

// 배송 조회 리스트 type row
.delivery-step-row-list {
  .delivery-step-item {
    position: relative;
    padding-left: 35px;
    padding-bottom: 16px;
    font-size: 0;

    .flex-start-group {
      .flex-right {
        margin-left: 10px;
      }
    }

    .status {
      display: block;
      @include mixins.font_size_md('md');
      color: var(--Grayscale-70);
    }

    .date {
      display: block;
      width: 100%;
      margin-top: 4px;
      @include mixins.font_size_md;
      color: var(--Grayscale-70);
    }

    .location {
      display: block;
      margin-top: 4px;
      @include mixins.font_size_md;
      color: var(--Grayscale-60);
    }

    .sub-status {
      @include mixins.font_size_md('md');
      color: var(--Grayscale-70);
    }

    &.is-completed {
      .status {
        color: var(--Grayscale-100);
      }

      .sub-status {
        color: var(--Primary-Green-100);
      }

      &:after {
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        @include mixins.ratio_images('/assets/images/delivery/ico_check_white_2xs', 7px 5px, center);
        background-color: var(--Primary-Green-100);
      }
    }

    &.is-incomplete {
      .status {
        color: var(--Primary-Red-100);
      }

      .sub-status {
        color: var(--Primary-Red-100);
      }

      .location {
        color: var(--Grayscale-60);
      }

      &:after {
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        @include mixins.ratio_images('/assets/images/delivery/ico_check_white_2xs', 7px 5px, center);
        background-color: var(--Primary-Red-100);
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      vertical-align: top;
      left: 7px;
      top: 6px;
      width: 1px;
      height: 100%;
      border-left: 1px solid var(--Grayscale-30);
    }

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      vertical-align: top;
      left: 4px;
      top: 5px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: var(--Grayscale-40);
    }

    &:last-child {
      padding-bottom: 0;

      &:before {
        content: initial;
      }
    }
  }
}

// 메인
.alert-count-group {
  &:before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    overflow: hidden;
    @include mixins.ratio_images('/assets/images/common/comm_ico_h60_TBD');
    //@include mixins.ratio_images('/assets/images/delivery/bg_alert_reservation'); //TBD
  }

  &.type-delivery {
    &:before {
      //@include mixins.ratio_images_change('/assets/images/delivery/bg_alert_delivery');//TBD
    }
  }

  &.type-history {
    &:before {
      //@include mixins.ratio_images_change('/assets/images/delivery/bg_alert_history');//TBD
    }
  }

  &.type-nonmember-reservation {
    &:before {
      //@include mixins.ratio_images_change('/assets/images/delivery/bg_alert_history');//TBD
    }
  }

  &.type-nonmember-search {
    &:before {
      //@include mixins.ratio_images_change('/assets/images/delivery/bg_alert_history');//TBD
    }
  }

  .stext {
    display: inline-block;
    vertical-align: top;

    ~ [class^=goods] {
      margin-left: 4px;
    }
  }
}
