@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

// 배송 상품 선택
.glist-wrap {
  .grid-col4-list {
    .item-grid-category {
      width: 100%;

      .btn-light-gray-sm {
        width: 100%;
        padding: 0 3px;

        .text {
          font-weight: variables.$fontWeightSemibold;
        }
      }

      &.is-active {
        .btn-light-gray-sm {
          border-color: var(--Primary-Green-100);
          background-color: var(--Grayscale-0);

          .text {
            color: var(--Primary-Green-100);
          }
        }
      }
    }
  }
}

// 배송 조회 리스트 type row
.delivery-step-row-list {
  .delivery-step-item {
    position: relative;
    padding-left: 35px;
    padding-bottom: 16px;
    font-size: 0;

    .flex-start-group {
      .flex-right {
        margin-left: 10px;
      }
    }

    .status {
      display: block;
      @include mixins.font_size_md('md');
      color: var(--Grayscale-70);
    }

    .date {
      display: block;
      width: 100%;
      margin-top: 4px;
      @include mixins.font_size_md;
      color: var(--Grayscale-70);
    }

    .location {
      display: block;
      margin-top: 4px;
      @include mixins.font_size_md;
      color: var(--Grayscale-60);
    }

    .sub-status {
      @include mixins.font_size_md('md');
      color: var(--Grayscale-70);
    }

    &.is-completed {
      .status {
        color: var(--Grayscale-100);
      }

      .sub-status {
        color: var(--Primary-Green-100);
      }

      &:after {
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        @include mixins.ratio_images('/assets/images/delivery/ico_check_white_2xs', 7px 5px, center);
        background-color: var(--Primary-Green-100);
      }
    }

    &.is-incomplete {
      .status {
        color: var(--Primary-Red-100);
      }

      .sub-status {
        color: var(--Primary-Red-100);
      }

      .location {
        color: var(--Grayscale-60);
      }

      &:after {
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        @include mixins.ratio_images('/assets/images/delivery/ico_check_white_2xs', 7px 5px, center);
        background-color: var(--Primary-Red-100);
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      vertical-align: top;
      left: 7px;
      top: 6px;
      width: 1px;
      height: 100%;
      border-left: 1px solid var(--Grayscale-30);
    }

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      vertical-align: top;
      left: 4px;
      top: 5px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: var(--Grayscale-40);
    }

    &:last-child {
      padding-bottom: 0;

      &:before {
        content: initial;
      }
    }
  }
}

// 메인
.alert-count-group {
  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
    overflow: hidden;
    @include mixins.ratio_images('/assets/images/delivery/bg_alert_reservation');
  }

  &.type-delivery {
    &:before {
      @include mixins.ratio_images_change('/assets/images/delivery/bg_alert_delivery');
    }
  }

  &.type-history {
    &:before {
      @include mixins.ratio_images_change('/assets/images/delivery/bg_alert_history');
    }
  }

  &.type-nonmember-reservation {
    &:before {
      @include mixins.ratio_images_change('/assets/images/delivery/bg_alert_nonmember_reservation');
    }
  }

  .stext-lg-black {
    display: inline-block;
    vertical-align: top;

    ~ [class^=goods] {
      margin-left: 4px;
    }
  }
}

.bar-flex-group {
  .bar-item {
    &:has(.ico-info-gray-sm, .ico-location-gray-sm) {
      ~ .bar-item {
        &:before {
          background-color: var(--Grayscale-50);
          top: 4px;
          height: 12px;
        }
      }
    }
    .ctitle-zero-wrap {
      .stext-lg-black {
        margin-top: 0;

        + .ctitle-sm {
          margin-top: 4px;
        }
      }
    }
  }
}
