/* 기본 컬러칩 */
$colorBlack: #000;
$colorWhite: #fff;

// 그린 색상
$colorGreen100 : #00BB78;
$colorGreen120 : #00A171;
$colorGreen10 : #E0F8EE;

// 오렌지 색상
$colorOrange100 : #F37021;
$colorOrange120 : #E65F0D;
$colorOrange10 : #FDE8EA;

// 레드 색상
$colorRed100: #EA1D2D;
$colorRed120: #D41B29;
$colorRed10: #FDE8EA;
// 회색 색상
$colorGray90: #333333;
$colorGray80: #55595E;
$colorGray70: #777C84;
$colorGray60: #A9ADB4;
$colorGray50: #C2C6CC;
$colorGray40: #D9DCE1;
$colorGray30: #E8EBF0;
$colorGray20: #F3F6FA;
$colorGray10: #F7FAFC;


/* // 기본 컬러칩 */

