/* 기본 컬러칩 */
$colorBlack: #000;
$colorWhite: #fff;

// 그린 색상
$colorGreen100 : #0EB26E;
$colorGreen120 : #089D5F;
$colorGreen10 : #E7F7F0;

// 오렌지 색상
$colorOrange100 : #F37021;
$colorOrange120 : #E65F0D;
$colorOrange10 : #FEF1E9;

// 회색 색상
$colorGray90: #373E49;
$colorGray80: #525B68;
$colorGray70: #76808E;
$colorGray60: #9FA7B4;
$colorGray50: #B9C0CA;
$colorGray40: #D1D5DC;
$colorGray30: #E6EAF0;
$colorGray20: #F3F6FA;
$colorGray10: #F7FAFC;

// 레드 색상
$colorRed100: #EA1D2D;
$colorRed120: #D41B29;
$colorRed10: #FDE8EA;

/* // 기본 컬러칩 */

