
// 폰트 기본
$fontDefault: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important;
$letterSpacing: -.001em; // -10

//폰트 굵기 4step
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;

//폰트 레벨
//title - Semibold
$fontSize5xl: 22px;
$fontSize5xlLineHeight: 28px;

$fontSize4xl: 20px;
$fontSize4xlLineHeight: 28px;

$fontSize3xl: 18px;
$fontSize3xlLineHeight: 24px;

$fontSize2xl: 16px;
$fontSize2xlLineHeight: 22px;

$fontSizeXl: 15px;
$fontSizeXlLineHeight: 22px;

$fontSizeLg: 14px;
$fontSizeLgLineHeight: 20px;


//body - Regular
$fontSizeMd: 13px;
$fontSizeMdLineHeight: 20px;

$fontSizeSm: 12px;
$fontSizeSmLineHeight: 18px;

$fontSizeXs: 11px;
$fontSizeXsLineHeight: 16px;







