// header height
$wrapperMaxWidth : 500px;
$headerMoHeight: 56px;
$headerDesktopHeight: 90px;
$headerTabletHeight: 127px;

// mobile docker height
$gnbHeight: 50px;
$headerHeight: 55px;

// mobile docker height
$dockerHeight: 80px;
$contDockerHeight: 70px;


