@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';



/* badge common style */
%badgeCommonStyle {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  .text { // 뱃지 텍스트 sm, md
    @include mixins.font_size_xs(sb);
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
}

/* badge size */
%badgeLg {
  @extend %badgeCommonStyle;
  padding: 2px 8px;
  height: 24px;
  border-radius: 12px;

  .text {
    @include mixins.font_size_sm(sb);
  }
}

%badgeMd {
  @extend %badgeCommonStyle;
  padding: 1px 8px;
  height: 22px;
  border-radius: 11px;
}

%badgeSm {
  @extend %badgeCommonStyle;
  padding: 0 4px;
  height: 18px;
  border-radius: 9px;

  @include mixins.device_mobile_aos {
    padding-top: 2px;
  }
}

/* badge color*/
%badgeGreen {
  background: var(--Primary-Green-100);
  border: 1px solid var(--Primary-Green-100);

  .text {
    color: var(--Grayscale-0);
  }
}

%badgeLightGreen {
  background: var(--Primary-Green-10);
  border: 1px solid var(--Primary-Green-10);

  .text {
    color: var(--Primary-Green-100);
  }
}

%badgeLineGreen {
  background: var(--Grayscale-0);
  border: 1px solid var(--Primary-Green-100);

  .text {
    color: var(--Primary-Green-100);
  }
}

%badgeOrange {
  background: var(--Primary-Orange-100);
  border: 1px solid var(--Primary-Orange-100);

  .text {
    color: var(--Grayscale-0);
  }
}

%badgeLightOrange {
  background: var(--Primary-Orange-10);
  border: 1px solid var(--Primary-Orange-10);

  .text {
    color: var(--Primary-Orange-100);
  }
}

%badgeLineOrange {
  background: var(--Grayscale-0);
  border: 1px solid var(--Primary-Orange-100);

  .text {
    color: var(--Primary-Orange-100);
  }
}

%badgeRed {
  background: var(--Primary-Red-100);
  border: 1px solid var(--Primary-Red-100);

  .text {
    color: var(--Grayscale-0);
  }
}

%badgeLightRed {
  background: var(--Primary-Red-10);
  border: 1px solid var(--Primary-Red-10);

  .text {
    color: var(--Primary-Red-100);
  }
}

%badgeLineRed {
  background: var(--Grayscale-0);
  border: 1px solid var(--Primary-Red-100);

  .text {
    color: var(--Primary-Red-100);
  }
}

%badgeGray {
  background: var(--Grayscale-80);
  border: 1px solid var(--Grayscale-80);

  .text {
    color: var(--Grayscale-0);
  }
}

%badgeLightGray {
  background: var(--Grayscale-20);
  border: 1px solid var(--Grayscale-20);

  .text {
    color: var(--Grayscale-80);
  }
}

%badgeLineGray {
  background: var(--Grayscale-0);
  border: 1px solid var(--Grayscale-80);

  .text {
    color: var(--Grayscale-80);
  }
}

// size
[class^=badge] {
  &[class$=-lg] {
    @extend %badgeLg;
  }
  &[class$=-md] {
    @extend %badgeMd;
  }
  &[class$=-sm] {
    @extend %badgeSm;
  }
}

// color
.badge {
  // green type
  &-green {
    &-lg, &-md, &-sm {
      @extend %badgeGreen;
    }
  }

  &-light-green {
    &-lg, &-md, &-sm {
      @extend %badgeLightGreen;
    }
  }

  &-line-green {
    &-lg, &-md, &-sm {
      @extend %badgeLineGreen;
    }
  }

  // orange type
  &-orange {
    &-lg, &-md, &-sm {
      @extend %badgeOrange;
    }
  }

  &-light-orange {
    &-lg, &-md, &-sm {
      @extend %badgeLightOrange;
    }
  }

  &-line-orange {
    &-lg, &-md, &-sm {
      @extend %badgeLineOrange;
    }
  }

  // red type
  &-red {
    &-lg, &-md, &-sm {
      @extend %badgeRed;
    }
  }

  &-light-red {
    &-lg, &-md, &-sm {
      @extend %badgeLightRed;
    }
  }

  &-line-red {
    &-lg, &-md, &-sm {
      @extend %badgeLineRed;
    }
  }

  // gray type
  &-gray {
    &-lg, &-md, &-sm {
      @extend %badgeGray;
    }
  }

  &-light-gray {
    &-lg, &-md, &-sm {
      @extend %badgeLightGray;
    }
  }

  &-line-gray {
    &-lg, &-md, &-sm {
      @extend %badgeLineGray;
    }
  }
}

/* // badge */

/* badge-group */
// $badgeGap: ( 'md', 'lg');
$groupSize: ('bmd': 4px, 'blg': 6px, 'bxl': 10px);

%badgeGroup {
  @include mixins.justify_width;
  flex-wrap: wrap;
  font-size: 0;
}

%badgeGapStyle {
  &[class*=-md][class$=group] {
    margin-top: -4px;
    margin-left: -4px;

    [class^=badge-] {
      margin: {
        top: 4px;
        left: 4px;
      }
    }
  }
  &[class*=-lg][class$=group] {
    // 작업 예정
  }
}


[class^=badge][class*=group] {
  @extend %badgeGapStyle;
}

@each $size, $px in $groupSize {
  .badge-md-#{$size}-group, .badge-lg-#{$size}-group {
    @extend %badgeGroup;
    margin-bottom: $px;
  }
}

/* // badge-group */

// badge-group > tooltip

[class^=badge-md][class*=group] {
  .tooltip {
    margin: {
      top: 4px;
      left: 4px;
    }
  }
}
