@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.board-detail-wrap {
  .board-detail-header {
    padding: 20px;

    :deep(.ctitle-zero-wrap) {
      [class^=flex][class$=-group] {
        .flex-right {
          .btn-share {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.container-wrapper {
  .board-detail-wrap:last-child {
    @include mixins.justify_width(stretch, start, column);
    flex: 1 0 auto;

    .board-detail-content {
      @include mixins.justify_width(stretch, start, column);
      flex: 1 0 auto;
      :deep([class^=cont][class*=-wrap]) {
        &:last-child {
          flex: 1 0 auto;
          /*padding-bottom: 30px;

          &[class*="bz-"] {
            padding-bottom: 0 !important;
          }

          &[class*="bs-"] {
            padding-bottom: 20px !important;
          }*/
        }

        &.detail-tf-line {
          position: relative;

          &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: var(--Grayscale-20);
          }
        }
      }
    }
  }
}

