@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s: box */

%ColorBoxComm {
  border-radius: 10px;
  margin: {
    left: -5px;
    right: -5px;
  }

  &.box-scroll {
    overflow-y: auto;
    max-height: 134px;
  }

  // size- zero
  &[class*=-zero-box] {
    padding: 0;
    border-radius: 15px;
    &.side-md {
      padding: {
        left: 20px;
        right: 20px;
      }
    }
  }

  &[class*=-xs-box] {
    padding: 10px;
    border-radius: 8px;
    &.side-zero {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }

  &[class*=-sm-box] {
    padding: 12px;
    &.side-zero {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }

  &[class*=-md-box] {
    padding: 16px;
    &.side-zero {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }

  &[class*=-lg-box] {
    padding: 20px;
    border-radius: 15px;

    &.side-zero {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }

  :deep(.box-info-header) {
    width: 100%;
    margin-bottom: 16px;

    ~ .box-info {
      &-cont {
        padding-top: 16px;
        border-top: 1px solid var(--Grayscale-30);
      }

      &-full-cont {
        border-top: 1px solid var(--Grayscale-30);
        padding: {
          top: 16px;
          left: 16px;
          right: 16px;
        };
        margin: {
          left: -16px;
          right: -16px;
        };
      }
    }

    ~ [class^=badge-md][class*=group] {
      margin-top: 16px;
    }
  }

  :deep(.box-info-header) {
    &.address-info {
      width: 100%;
      margin-bottom: 10px;

      .box-rdo-group {
        ~ .bar-group {
          margin-top: 10px;
        }
      }
    }
  }

  :deep(.box-prod-header) {
    padding: 16px 20px;
    border-bottom: 1px solid var(--Grayscale-30);
  }

  :deep(.box-info-select) {
    @include mixins.justify_width();
    flex-wrap: wrap;

    .thumb-prod-flex {
      width: calc(100% - 34px);
    }

    .ui-rdo {
      margin-left: 10px;
    }

    .light-gray-sm-box {
      width: 100%;
      margin: {
        top: 10px;
        left: 0;
        right: 0;
      }
    }
  }
}

[class*=lg-box] {
  :deep(.box-prod-header) {
    margin: -20px -20px 20px;
  }
}

// bg color
[class^=line-light-gray][class*=box] {
  @extend %ColorBoxComm;
  background: var(--Grayscale-0);
  border: 1px solid var(--Grayscale-30);

  // barcode-box
  :deep(.barcode-box) {
    width: 100%;
    text-align: center;
    img {
      display: inline-block;
      vertical-align: top;
    }
  }
}

[class^=light-gray][class*=box] {
  @extend %ColorBoxComm;
  background: var(--Grayscale-20);
}

[class^=white][class*=box] {
  @extend %ColorBoxComm;
  background: var(--Grayscale-0);

  // 주문내역 상품
  :deep(.order-prod-history-wrap) {
    &:not(:first-child) {
      margin-top: 24px;
    }
    :deep(.btn-flex-md-wrap) {
      margin: {
        left: 0;
        right: 0;
      };
    }
  }
  :deep(.btn-flex-md-wrap) {
    margin: {
      left: 0;
      right: 0;
    };
  }

  &:has(.box-arr-area) {
    position: relative;

    :deep(.box-arr-area) {
      position: relative;
      padding-right: 34px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        right: -9px;
        transform: translateX(-50%);
        margin-top: -9px;
        @include mixins.svg_mask('/assets/images/common/comm_ico_arw_right_sm', var(--Grayscale-80));
      }
    }
  }
}

[class^=light-green][class*=box] {
  @extend %ColorBoxComm;
  background: var(--Primary-Green-10);

  .stext {
    color: var(--Primary-Green-100);
  }

  [class^=ctitle][class$=wrap] {
    padding: {
      left: 0;
      right: 0;
    };
  }
}

[class^=orange][class*=box] {
  @extend %ColorBoxComm;
  background: var(--Primary-Orange-10);
}

/* e: box */
.light-gray-lg-box, .white-lg-box {
  &.bg-normal-delivery, &.bg-kind-delivery {
    position: relative;
    height: 100%;

    :deep([class^=ctitle-][class$=wrap]) {
      .stext-gray70 {
        word-break: break-all;
      }
    }

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      right: 20px;
      bottom: 20px;
      width: 60px;
      height: 60px;
      vertical-align: top;
    }
  }

  &.bg-kind-delivery {
    &:after {
      @include mixins.ratio_images('/assets/images/common/comm_ico_h60_kind_delivery');
      /*@include mixins.ratio_images('/assets/images/common/comm_ico_h60_TBD');*/
    }
  }

  &.bg-normal-delivery {
    &:after {
      @include mixins.ratio_images('/assets/images/common/comm_ico_h60_normal_delivery');
      /*@include mixins.ratio_images('/assets/images/common/comm_ico_h60_TBD');*/
    }
  }
}

.light-gray-lg-box {
  &.bg-normal-delivery, &.bg-kind-delivery {
    padding-bottom: 90px !important;
  }
}

