@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s: box */

%ColorBoxComm {
  border-radius: 10px;
  margin: {
    left: -5px;
    right: -5px;
  }

  &.box-scroll {
    overflow-y: auto;
    max-height: 134px;
  }

  // size
  &[class*=-xs-box] {
    padding: 10px;
    border-radius: 8px;
    &.size-zero {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }

  &[class*=-sm-box] {
    padding: 12px;
    &.size-zero {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }

  &[class*=-md-box] {
    padding: 16px;
    &.size-zero {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }

  &[class*=-lg-box] {
    padding: 20px;
    border-radius: 15px;

    &.size-zero {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }

  :deep(.box-info-header) {
    width: 100%;
    margin-bottom: 16px;
  }
  :deep(.box-prod-header) {
    padding: 16px 20px;
    border-bottom: 1px solid variables.$colorGray30;
  }

  :deep(.box-info-select) {
    @include mixins.justify_width();
    flex-wrap: wrap;

    .thumb-prod-flex {
      width: calc(100% - 34px);
    }

    .ui-rdo {
      margin-left: 10px;
    }

    .light-gray-sm-box {
      width: 100%;
      margin: {
        top: 10px;
        left: 0;
        right: 0;
      }
    }
  }
}

[class*=lg-box] {
  :deep(.box-prod-header) {
    margin: -20px -20px 20px;
  }
}

// bg color
[class^=line-light-gray][class*=box] {
  @extend %ColorBoxComm;
  background: variables.$colorWhite;
  border: 1px solid variables.$colorGray30;
}

[class^=light-gray][class*=box] {
  @extend %ColorBoxComm;
  background: variables.$colorGray20;
}

[class^=white][class*=box] {
  @extend %ColorBoxComm;
  background: variables.$colorWhite;
}

[class^=light-green][class*=box] {
  @extend %ColorBoxComm;
  background: variables.$colorGreen10;

  .stext {
    color: variables.$colorGreen100;
  }

  [class^=ctitle][class$=wrap] {
    padding: {
      left: 0;
      right: 0;
    };
  }
}

[class^=orange][class*=box] {
  @extend %ColorBoxComm;
  background: variables.$colorOrange10;
}

/* e: box */
.light-gray-lg-box, .white-lg-box {

  &.bg-normal-delivery, &.bg-kind-delivery {
    position: relative;
    padding-bottom: 90px !important;

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      right: 20px;
      bottom: 20px;
      width: 60px;
      height: 60px;
      vertical-align: top;
    }
  }

  &.bg-kind-delivery {
    &:after {
      //@include mixins.ratio_images('~/assets/images/common/comm_ico_h60_kind_delivery'); // TBD
      @include mixins.ratio_images('~/assets/images/common/comm_ico_h60_TBD');
    }
  }

  &.bg-normal-delivery {
    &:after {
      //@include mixins.ratio_images('~/assets/images/common/comm_ico_h60_normal_delivery'); // TBD
      @include mixins.ratio_images('~/assets/images/common/comm_ico_h60_TBD');
    }
  }
}

