@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.cont-docker-wrap {
  z-index: 31;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--Grayscale-0);
  padding: 0 20px 10px;

  :deep(.btn-auto-wrap) {
    [class^=btn] {
      &:first-child {
        padding: 0 36px;
      }
      &:last-child {
        flex: 1;
      }
    }
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
  }

  :deep(.cont-docker-info) {
    padding: 16px 0 6px;
    @include mixins.justify_width(center, center);

    [class^=ico] {
      margin-right: 10px;
    }

    .stext-lg-black {
      font-weight: variables.$fontWeightMedium;
    }
  }
}
