@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.cont-docker-wrap {
  z-index: 31;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: calc(env(safe-area-inset-bottom) + #{variables.$contDockerHeight});
  background: variables.$colorWhite;
  padding: 0 15px calc(env(safe-area-inset-bottom) + 16px);

  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
  }
}
