@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../components/keyframes';

%dialogDefault {
  position: fixed;
  display: none;
  overflow: hidden;
  background-color: variables.$colorWhite;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;

  &[data-state=open] {
    @include mixins.justify_width(normal, start, column);
  }

  .dialog-header {
    position: relative;
    padding: 21px 58px 21px 20px;

    .dialog-title {
      @include mixins.font_size_2xl;
      color: variables.$colorBlack;
    }

    .dialog-close {
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }

  .dialog-body {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .dialog-inner {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .dialog-footer {
    position: relative;
    padding: 1px 15px 16px;
    background-color: variables.$colorWhite;

    &:before {
      content: '';
      height: 30px;
      left: 0;
      right: 0;
      position: absolute;
      bottom: 100%;
      background: linear-gradient(rgba(variables.$colorWhite, 0), rgba(variables.$colorWhite, 1));
    }

    .dialog-btn-wrap {
      @include mixins.justify_width(center);

      [class^=btn] {
        width: 100%;

        ~ [class^=btn] {
          margin-left: 6px;
        }
      }
    }
  }

  .dialog-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:not(:has(.dialog-footer)) {
    .dialog-body {
      .cont-wrap:last-child {
        padding-bottom: 20px;
      }
    }
  }
}

.ui-dialog {
  @extend %dialogDefault;
  max-height: calc(100% - 40px);
  max-width: calc(100% - 40px);
  width: calc(100% - 40px);
  height: auto;
  margin: 20px;
  left: 50%;
  top: 50%;
  @include mixins.prefix(transform, translate(calc(-50% - 20px), calc(-50% - 20px)));

  .dialog-footer {
    padding-top: 16px;

    &:before {
      content: initial;
    }
  }
}

// type full
.ui-dialog-full {
  @extend %dialogDefault;
  border-radius: 0;
  height: 100dvh;
  left: 0;
  top: 0;

  .dialog-header {
    padding: {
      top: 16px;
      bottom: 17px;
    }

    .dialog-title {
      @include mixins.font_size_3xl('sb');
    }
  }

  .dialog-body {
    .dialog-inner {
      min-height: 100%;
      @include mixins.justify_width(stretch, start, column);
    }
  }

  .dialog-footer {
    padding-bottom: 16px;
  }
}

// type bottom
.ui-dialog-bottom {
  @extend %dialogDefault;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-height: calc(100dvh - 100px);
  bottom: 0;
  margin-bottom: calc(100vh / 5 * -1);
  opacity: 1;

  .dialog-footer {
    padding-bottom: 16px;
  }

  &[data-state=open] {
    @include mixins.prefix(animation, bottomPopAnimation .2s variables.$easeInOutQuad forwards);
  }
}

// type alert
.ui-dialog-alert {
  @extend %dialogDefault;
  width: calc(100% - 40px);
  height: auto;
  margin: 20px;
  left: 50%;
  top: 50%;
  @include mixins.prefix(transform, translate(calc(-50% - 20px), calc(-50% - 20px)));

  .dialog-header {
    padding: 24px 16px 10px 16px;

    .dialog-title {
      text-align: center;
    }

    .dialog-close {
      display: none;
    }

    ~ .dialog-body {
      .dialog-inner {
        .cont-white-wrap {
          padding-top: 0;
        }
      }
    }
  }

  .dialog-body {
    .dialog-inner {
      .cont-white-wrap {
        padding: {
          top: 24px;
          left: 16px;
          right: 16px;
          bottom: 24px;
        };
      }

      .alert-desc {
        @include mixins.font_size_lg('lt');
        text-align: center;
        word-break: keep-all;
      }
    }
  }

  .dialog-footer {
    padding: {
      top: 0;
      left: 16px;
      right: 16px;
    }
    &:before {
      content: initial;
    }
  }
}

/* e: custom popup */
