@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


$groupAlign: ('start', 'center', 'end');

@each $align in $groupAlign {
  .flex-#{$align}-group {
    @include mixins.justify_width(#{$align});
    flex-wrap: nowrap;
    overflow-wrap: anywhere;

    :deep(.flex-left) {
      flex-wrap: wrap;
      @include mixins.justify_width(#{$align}, start);

      .ui-chk {
        padding-right: 6px;
        input {
          + label {
            .text-md {
              @include mixins.multi_ellipsis(variables.$fontSizeMdLineHeight, 1, true);
            }
          }
        }
      }
    }
    :deep(.flex-right) {
      flex-wrap: wrap;
      flex: 1 0 auto;
      @include mixins.justify_width(#{$align}, end);

      .btn-share {
        margin-left: 14px;
      }
    }
    :deep(.flex-start-right) {
      flex-wrap: wrap;
      flex: 1 0 auto;
      @include mixins.justify_width(#{$align}, start);
    }
  }
}

// Usage 주소록 box
:deep(.info-flex-left) {
  @include mixins.justify_width(start, center, column);

  [class^=ctitle][class*=wrap] {

    [class^=ctitle] {
      display: inline-block;
      vertical-align: top;

      ~ [class^=badge] {
        margin: {
          top: 1px;
          left: 6px;
        }
      }
    }

    [class^=badge] {
      + [class^=ctitle] {
        margin-left: 6px;
      }
    }

    ~ .bar-group {
      margin-top: 0;
    }
  }

  [class^=tbtn-] {
    display: block;

    ~ .bar-group {
      margin-top: 6px;
    }
  }

  .box-rdo-group {
    .ui-rdo {
      .text-lg {
        @include mixins.font_size_2xl('sb');
      }
      + [class^=badge] {
        margin: {
          left: 6px;
          top: 2px;
        }
      }
    }
  }
}


:deep(.flex-left) {
  &:has([class^=ico-marketing-]){ // 마케팅 수신 팝업
    + .flex-start-right {
      margin-left: 10px;
    }
  }
}
