@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


$groupAlign: ('start', 'center', 'end');

@each $align in $groupAlign {
  .flex-#{$align}-group {
    @include mixins.justify_width(#{$align});
    flex-wrap: nowrap;
    overflow-wrap: anywhere;

    :deep(.flex-left) {
      flex-wrap: wrap;
      @include mixins.justify_width(#{$align}, start);
    }
    :deep(.flex-right) {
      flex-wrap: wrap;
      flex: 1 0 auto;
      @include mixins.justify_width(#{$align}, end);
    }
  }
}

// Usage 주소록 box

:deep(.info-flex-left) {
  display: block;
  font-size: 0;

  [class^=ctitle][class*=wrap] {
    [class^=ctitle] {
      display: inline-block;
      vertical-align: top;

      ~ [class^=badge] {
        margin-left: 6px;
      }
    }

    ~ .bar-group {
      margin-top: 0;
    }
  }

  .box-rdo-group {

    .ui-rdo {
      .text-lg {
        @include mixins.font_size_2xl('sb');
      }
      + [class^=badge] {
        margin: {
          left: 6px;
          top: 2px;
        }
      }
    }
  }

}
