@use 'sass:map';
@use '../components/keyframes';
@use '../abstracts/variables';
@use '../abstracts/mixins';

%foldBoxComm {
  .fold-header {
    @include mixins.justify_width(center);
    position: relative;
    width: 100%;
    padding-right: 28px;

    :deep(.fold-title) {
      width: 100%;
      color: variables.$colorBlack;

      [class^=btn][class$=xs] {
        position: relative;
        z-index: 2;
      }
    }

    .btn-fold {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      @include mixins.justify_width(center, end);

      &:after {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: top;
        @include mixins.ratio_images('~/assets/images/common/comm_ico_arwdown_black_sm');
        @include mixins.prefix(transform, rotateZ(0));
        @include mixins.prefix(transition, transform 0.25s 0.12s variables.$transEaseBounceBack);
      }
    }

    &.is-active {
      .btn-fold {
        &:after {
          @include mixins.prefix(transform, rotateZ(180deg));
        }
      }
    }
  }

  .fold-cont {
    margin-top: 16px;
  }
}

.fold-box,
.fold-cont-box {
  @extend %foldBoxComm;
}

.fold-box {
  .fold-header {
    .fold-title {
      padding-left: 5px;

      :deep(.flex-right) {

        :deep(.goods) {
          @include mixins.font_size_3xl('sb');
        }
      }
    }
  }

  .fold-cont {
    overflow: hidden;
    margin-top: 16px;
    border-radius: 15px;
  }
}

.fold-cont-box {
  border-radius: 15px;
  background-color: variables.$colorWhite;

  .fold-header {
    padding: 20px 48px 20px 20px;

    .btn-fold {
      &:after {
        margin-right: 20px;
      }
    }
  }

  .fold-cont {
    margin-top: -20px;
    padding: 20px;
    border-radius: 15px;
  }
}

.fold-overflow-box {
  .fold-cont {
    overflow: hidden;
    height: var(--content-min-height);

    &.is-active {
      height: auto;
    }
  }

  .fold-header {
    .btn-fold-toggle {
      width: 100%;

      .ico-arwdown-gray-xs {
        @include mixins.prefix(transform, rotateZ(0));
        @include mixins.prefix(transition, transform 0.25s 0.12s variables.$transEaseBounceBack);
      }

      &.is-active {
        .ico-arwdown-gray-xs {
          @include mixins.prefix(transform, rotateZ(180deg));
        }
      }
    }
  }
}

.fold-enter-active {
  //@include mixins.prefix(animation, accordion-down 0.45s ease-in-out);
}

.fold-enter-from, .fold-leave-to {
  //height: 0;
}

.fold-enter-to {
  //height: var(--content-height);
}

/*@keyframes accordion-down {
  0% {
    height: 0
  }

  to {
    height: var(--content-height);
  }
}*/
