@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.form-field {
  .form-title {
    .ctitle-xs {
      color: variables.$colorGray90;
    }

    .stext {
      margin-top: 4px;
    }
    .stext-lg {
      margin-top: 4px;
    }
  }

  .form-cont {
    @include mixins.justify_width(stretch, start, column);
    margin-top: 10px;
    row-gap: 10px;

    .form-input-group {
      @include mixins.justify_width(stretch, start, column);
      row-gap: 6px;

      .flex-center-group {
        .flex-left {
          flex: 1;

          ~ .flex-right {
            flex: 1;
            margin-left: 6px;
          }
        }
      }

      .input-guide,
      .valid-desc {
        margin-top: -2px;
      }
    }

    [class^=btn-auto-wrap] {
      margin-top: 0;
    }
  }
}
