@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


/* form - 공통 사용 */

// input-guide
.input-guide {
  display: block;
  width: 100%;
  margin-top: 4px;
  @include mixins.font_size_sm;
  color: var(--Grayscale-70);
}

// valid-check
.valid-check {
  .valid-desc {
    display: none;
    margin-top: 4px;
    @include mixins.font_size_sm;
    color: var(--Primary-Red-100);
  }

  &.fail {
    .input-box,
    .textarea-box {
      border-color: var(--Primary-Red-100);
    }

    .valid-desc {
      display: block;
    }
  }
}

// 입력 제한
.byte-check {
  flex-shrink: 0;
  font-size: 0;

  .count {
    display: inline-block;
    @include mixins.font_size_sm('md');
    color: var(--Grayscale-100);
    vertical-align: top;
  }

  .total {
    display: inline-block;
    @include mixins.font_size_sm('md');
    color: var(--Grayscale-50);
    vertical-align: top;

    &:before {
      content: '/';
      color: var(--Grayscale-50);
    }
  }
}

.is-focus {
  .byte-check {
    .count {
      color: var(--Primary-Green-100);
      @include mixins.prefix(transition, color 0.2s ease-out);
    }
  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* form - select */

// default
.ui-select {
  width: 100%;

  select {
    @include mixins.clear_focus;
    width: 100%;
    height: 44px;
    padding: 12px 42px 12px 18px;
    border-radius: 22px;
    border: 1px solid var(--Grayscale-40);
    @include mixins.font_size_lg('lt');
    color: var(--Grayscale-100);
    @include mixins.no_select_text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    @include mixins.ratio_images('/assets/images/common/comm_ico_arw_down_sm', 18px, right 18px center);
    background-color: var(--Grayscale-0);

    &:focus {
      border-color: var(--Primary-Green-100);
      @include mixins.prefix(transition, border 0.2s ease-out);
    }

    &[disabled], &[aria-disabled], &[readonly] {
      border-color: var(--Grayscale-30);
      @include mixins.ratio_images_change('/assets/images/common/comm_ico_arw_down_sm_disabled');
      color: var(--Grayscale-50);
    }
  }

  &.type-text {
    width: auto;

    select {
      width: auto;
      height: 17px;
      padding: 0 18px 0 0;
      border: 0;
      @include mixins.ratio_images('/assets/images/common/comm_ico_arw_down_xs', 16px, right center);
      @include mixins.font_size_lg('md');

      text-align-last: right;
      text-align: right;
      -ms-text-align-last: right;
      -moz-text-align-last: right;

      option {
        text-align-last: left;
        text-align: left;
        -ms-text-align-last: left;
        -moz-text-align-last: left;
      }
    }
  }
}

[class^=cont][class*=wrap] {
  [class^=cont][class$=box] {
    &:not(:has(.form-field)) {
      .ui-select {
        width: calc(100% + 10px);
        margin: {
          left: -5px;
          right: -5px;
        }
      }
    }
  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* form - radio, checkbox */
%rdoChkReset {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: top;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    + label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      vertical-align: top;
      @include mixins.no_select_text;

      [class^=text-] {
        display: inline-block;
        padding: {
          top: 2px;
          left: 6px;
          bottom: 2px;
        }
        color: var(--Grayscale-100);
        word-break: break-all;
        vertical-align: top;
      }

      .text-sm { // 13px
        @include mixins.font_size_md('md');
      }

      .text-md { // 14px
        @include mixins.font_size_lg;
      }

      .text-lg { // 15px
        @include mixins.font_size_xl;
      }

      &.align-top {
        [class^=text-] {
          padding-top: 0;
        }

        &:before {
          top: 0;
          transform: initial;
        }
        &:after {
          transform: initial;
        }
      }
    }
  }
}

// default
.ui-chk,
.ui-rdo,
.ui-rdo-prod,
.ui-chk-prod {
  @extend %rdoChkReset;
  min-height: 24px;

  input {
    + label {
      padding-left: 24px;
      min-height: 24px;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        @include mixins.prefix(transform, translateY(-50%));
        width: 24px;
        height: 24px;
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }

    &[disabled], &[aria-disabled], &[readonly] {
      & + label {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &:checked {
      & + label {
        &:before {
          background-color: var(--Primary-Green-100);
          border-color: var(--Primary-Green-100);
        }
      }
    }
  }
}

/* radio */
.ui-rdo,
.ui-rdo-prod {
  input {
    & + label {
      &:before, &:after {
        border-radius: 12px;
      }

      &:before {
        background-color: var(--Grayscale-0);
        border: 1px solid var(--Grayscale-40);
      }

      &:after {
        left: 7px;
        width: 10px;
        height: 10px;
        background-color: var(--Grayscale-40);
        border: none;
        transform-origin: top;
      }

      &.align-top {
        &:after {
          top: 7px;
        }
      }
    }

    &:checked + label {
      &:before {
        @include mixins.prefix(transition, background-color 0.15s);
      }

      &:after {
        animation: rdoAnimation 0.35s variables.$easeInOutQuad forwards;
        background-color: var(--Grayscale-0);
      }

      &.align-top {
        &:after {
          animation: rdoTopAnimation 0.35s variables.$easeInOutQuad forwards;
        }
      }
    }
  }
}

@keyframes rdoAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1) translateY(-5px);
  }
}

.ui-rdo-prod, .ui-chk-prod {
  width: 100%;

  input {
    + label {
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &[disabled], &[aria-disabled], &[readonly] {
      & + label {
        opacity: 1;

        &:after,
        &:before {
          opacity: 0.5;
        }
      }
    }
  }

  .thumb-prod-flex {
    padding-left: 34px;
  }
}

@keyframes rdoTopAnimation {
  0% {
    transform: scale(0) translateY(7px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

/* checkbox */
.ui-chk,
.ui-chk-prod {
  input {
    & + label {
      &:before {
        border-radius: 6px;
        background-color: var(--Grayscale-0);
        border: 1px solid var(--Grayscale-40);
        left: 0;
      }

      &:after {
        @include mixins.ratio_images('/assets/images/form/ico_check_def', 12px 10px, 6px 7px);
      }

      &.align-top {
        &:after {
          top: 0;
        }
      }
    }

    &:checked + label {
      &:before {
        @include mixins.prefix(transition, background-color 0.15s);
      }

      &:after {
        animation: chkAnimation 0.5s variables.$transEaseBounceBack;
        @include mixins.ratio_images('/assets/images/form/ico_check_sel', 12px 10px, 6px 7px);
      }

      &.align-top {
        &:after {
          animation: chkTopAnimation 0.5s variables.$transEaseBounceBack;
        }
      }
    }
  }
}

@keyframes chkAnimation {
  0% {
    opacity: 0;
    rotate: 12deg;
  }

  50% {
    opacity: 1;
    rotate: -10deg;
  }

  100% {
    rotate: 0;
  }
}

@keyframes chkTopAnimation {
  0% {
    opacity: 0;
    rotate: 12deg;
  }

  50% {
    opacity: 1;
    rotate: -10deg;
    transform: translateX(-2px);
  }

  100% {
    rotate: 0;
    transform: translateX(0);
  }
}

// type button
.ui-rdo-button,
.ui-chk-button {
  @extend %rdoChkReset;

  input {
    width: 100%;

    & + label {
      width: 100%;
      padding: 7px 14px;
      border-radius: 18px;
      border: 1px solid transparent;
      background-color: var(--Grayscale-20);
      text-align: center;

      [class^=text] {
        padding: 0;
        color: var(--Grayscale-80);
        font-weight: variables.$fontWeightSemibold;
      }

      &:before,
      &:after {
        content: initial;
      }
    }

    &[disabled], &[aria-disabled], &[readonly] {
      & + label {
        [class^=text] {
          padding: 0;
          color: var(--Grayscale-50);
        }
      }
    }

    &:checked + label {
      border-color: var(--Primary-Green-100);
      background-color: var(--Grayscale-0);
      @include mixins.prefix(transition, all 0.15s);

      [class^=text] {
        color: var(--Primary-Green-100);
      }
    }
  }
}

.ui-chk-bookmark {
  @extend %rdoChkReset;
  width: 24px;
  height: 24px;
  input {
    + label {
      padding-left: 24px;
      min-height: 24px;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        vertical-align: top;
      }

      &:before {
        @include mixins.svg_mask('/assets/images/common/comm_ico_bookmark', var(--Grayscale-40));
      }
    }

    &[disabled], &[aria-disabled], &[readonly] {
      & + label {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &:checked {
      & + label {
        &:before {
          background-color: #FFC634;
          animation: bookmarkAnimation 0.2s variables.$easeInOutQuad forwards;
        }
      }
    }
  }

  .ico-bookmark {

  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* form - checkbox */
.attach-box {
  position: relative;
  display: inline-block;
  width: 76px !important;
  height: 76px;
  border-radius: 12px;
  background-color: var(--Grayscale-20);
  border: 1px solid var(--Grayscale-30);
  overflow: hidden;

  & ~ .attach-box {
    margin-left: 5px;
  }

  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @include mixins.svg_mask('/assets/images/common/comm_ico_plus_sm', #B4BDC5, 18px, center);
  }

  .attach-img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .attach-img {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .btn-remove {
      position: absolute;
      top: 2px;
      right: 2px;
      width: 26px;
      height: 26px;
      padding: 4px;
    }
  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* form - toggle */

/* toggle */
%uiToggle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

  input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    & + label {
      display: inline-block;
      height: 26px;
      padding-left: 48px;
      vertical-align: top;
      cursor: pointer;

      [class^=text-] {
        display: inline-block;
        padding: 3px 0 3px 8px;
        color: var(--Grayscale-100);
        vertical-align: top;
        cursor: pointer;
      }

      .text-sm {
        @include mixins.font_size_md('md');
      }

      .text-md {
        @include mixins.font_size_lg('md');
      }

      &:before {
        content: '';
        position: absolute;
        background-color: var(--Grayscale-40);
        border-radius: 21px;
        left: 0;
        top: 0;
        z-index: 1;
        width: 48px;
        height: 26px;
        @include mixins.prefix(transition, left .2s ease-out);
        @include mixins.prefix(transition, background-color .15s ease-out);
      }

      &:after {
        content: '';
        position: absolute;
        background-color: var(--Grayscale-0);
        border-radius: 50%;
        left: 3px;
        top: 3px;
        z-index: 2;
        width: 20px;
        height: 20px;
        @include mixins.prefix(transition, left .2s ease-out);
      }
    }

    &:checked {
      & + label {
        &:before {
          background: var(--Primary-Green-100);
        }

        &:after {
          left: 25px;
        }
      }
    }

    &:disabled, &[readonly] {
      & + label {
        &:before {
          opacity: 0.4;
        }

        [class^=text-] {
          color: var(--Grayscale-60);
          cursor: inherit;
        }
      }
    }
  }
}

.ui-toggle {
  @extend %uiToggle;
}


/* form - spinner */
.ui-spinner-box {
  overflow: hidden;
  display: inline-block;
  border-radius: 18px;
  background-color: var(--Grayscale-0);
  border: 1px solid var(--Grayscale-40);
  width: 94px;
  height: 36px;
  vertical-align: top;

  .ui-spinner {
    position: relative;
    padding: 0 26px;

    .ui-input {
      width: 100%;
      height: 34px;
      @include mixins.font_size_md('md');
      color: var(--Grayscale-100);
      text-align: center;
      box-sizing: border-box;
      vertical-align: top;
      border: 0;
      background: 0;
    }

    .btn-minus,
    .btn-plus {
      position: absolute;
      top: 5px;
      display: inline-block;
      vertical-align: top;
      width: 24px;
      height: 24px;
    }

    .btn-minus {
      left: 5px;
      @include mixins.ratio_images('/assets/images/form/ico_spinner_minus', 24px, center);
    }

    .btn-plus {
      right: 5px;
      @include mixins.ratio_images('/assets/images/form/ico_spinner_plus', 24px, center);
    }

    &:has(.ui-input[disabled]) {
      opacity: 0.4;
    }
  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* ui-col-group */

$itemGap: ('sm': 6px, 'md': 10px, 'lg': 16px); // sm - 6px / md - 10px / lg - 16px
@each $gap, $px in $itemGap {
  .ui-col-#{$gap}-group {
    margin-bottom: -10px;

    [class^=ui-] {
      margin-bottom: 10px;
      margin-right: $px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/* rating-group */
.rating-group {
  @include mixins.justify_width(stretch);
  gap: 10px;

  .rating {
    position: relative;

    .rating-label {
      display: block;

      &.is-active {
        .ico-rating-lg {
          background-color: var(--Primary-Green-100);
        }
      }
      &.is-click {
        .ico-rating-lg {
          animation: ratingAnimation 0.35s variables.$easeInOutQuad forwards;
        }
      }

      .ico-rating-lg {
        cursor: pointer;
        background-color: var(--Grayscale-30);
        @include mixins.prefix(transition, all 0.35s variables.$easeOutExpo);
      }
    }
  }
}

@keyframes ratingAnimation {
  0%, 100% {
    @include mixins.prefix(transform, scale(1));
  }

  40% {
    @include mixins.prefix(transform, scale(1.1));
  }
}

.ico-rating-lg {
  display: block;
  width: 30px;
  height: 30px;
  @include mixins.svg_mask('/assets/images/common/comm_ico_rating_lg');
}

.datepicker-box {
  .btn-date {
    @include mixins.justify_width(center, between);
    width: 100%;
    height: 44px;
    padding: 12px 18px;
    border-radius: 22px;
    border: 1px solid transparent;
    background-color: var(--Grayscale-20);
    @include mixins.font_size_lg('lt');
    color: var(--Grayscale-50);

    &[disabled] {
      background-color: var(--Grayscale-0);
      border-color: var(--Grayscale-30);
    }

    &[data-state='open'] {
      border-color: var(--Primary-Green-100);
      background-color: var(--Grayscale-0);
      color: var(--Grayscale-100);
    }
  }
}

.ui-datepicker {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--Grayscale-0);

  .calendar-group {
    height: auto;

    .calendar-header {
      width: calc(100% + 16px);
      margin: {
        left: -8px;
        right: -8px;
      };
      justify-content: space-between;

      .calendar-heading {
        @include mixins.justify_width(center, center);
        font-weight: variables.$fontWeightMedium;

        .ui-select {
          &.type-text {
            select {
              height: 22px;
              @include mixins.ratio_images('/assets/images/form/ico_datepicker_arw', 18px, right center);
              @include mixins.font_size_2xl();
            }
          }

          ~ .ui-select {
            margin-left: 6px;
          }
        }
      }
    }

    table {
      tr {
        td {
          .date {
            &[data-today] {
              background-color: transparent;
              color: var(--Primary-Green-100);

              &[data-selected] {
                background-color: var(--Primary-Green-100);
                color: var(--Grayscale-0);
                font-weight: 500;
              }
            }

            &[data-selected] {
              color: var(--Grayscale-0);
              font-weight: variables.$fontWeightRegular;
            }
          }
        }
      }
    }
  }
}

// 단순 정보성 form
.input-info-box {
  display: block;
  width: 100%;
  @include mixins.justify_width(center);
  height: 44px;
  padding: {
    top: 6px;
    right: 17px;
    bottom: 6px;
    left: 18px;
  }
  border: 1px solid  var(--Grayscale-30);
  border-radius: 22px;
  background-color: var(--Grayscale-0);

  .unit {
    flex-shrink: 0;
    display: inline-block;
    margin: {
      top: 6px;
      bottom: 6px;
    };
    @include mixins.font_size_md('md');
    color: var(--Grayscale-50);
    vertical-align: top;
  }
}

