@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


/* form - 공통 사용 */

// input-guide
.input-guide {
  display: block;
  width: 100%;
  margin-top: 4px;
  @include mixins.font_size_sm;
  color: variables.$colorGray70;
}

// valid-check
.valid-check {
  .valid-desc {
    display: none;
    margin-top: 4px;
    @include mixins.font_size_sm;
    color: variables.$colorRed100;
  }

  &.fail {
    .input-box {
      border-color: variables.$colorRed100;
    }
    .valid-desc {
      display: block;
    }
  }
}

// 입력 제한
.byte-check {
  flex-shrink: 0;

  .count {
    display: inline-block;
    @include mixins.font_size_sm('md');
    color: variables.$colorBlack;
    vertical-align: top;
  }

  .total {
    display: inline-block;
    @include mixins.font_size_sm('md');
    color: variables.$colorGray50;
    vertical-align: top;

    &:before {
      content: '/';
      color: variables.$colorGray50;
    }
  }
}

.is-focus {
  .byte-check {
    .count {
      color: variables.$colorGreen100;
      @include mixins.prefix(transition, color 0.2s ease-out);
    }
  }
}


/* form - select */

// default
.ui-select {
  width: 100%;

  select {
    @include mixins.clear_focus;
    width: 100%;
    height: 44px;
    padding: 12px 42px 12px 18px;
    border-radius: 22px;
    border: 1px solid variables.$colorGray40;
    background-color: variables.$colorWhite;
    @include mixins.font_size_lg('lt');
    color: variables.$colorBlack;
    @include mixins.no_select_text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_arw_down_gray_sm', 18px, right 18px center);

    &:focus {
      border-color: variables.$colorGreen100;
      @include mixins.prefix(transition, border 0.2s ease-out);
    }

    &[disabled], &[aria-disabled], &[readonly] {
      border-color: variables.$colorGray30;
      @include mixins.ratio_images_change('~/assets/images/common/comm_ico_arw_down_gray_sm_disabled');
      color: variables.$colorGray50;
    }
  }

  &.type-text {
    width: auto;

    select {
      width: auto;
      height: 17px;
      padding: 0 18px 0 0;
      border: 0;
      @include mixins.ratio_images('~/assets/images/common/comm_ico_arw_down_gray_xs', 16px, right center);
      @include mixins.font_size_lg('md');

      text-align-last: right;
      text-align: right;
      -ms-text-align-last: right;
      -moz-text-align-last: right;

      option {
        text-align-last: left;
        text-align: left;
        -ms-text-align-last: left;
        -moz-text-align-last: left;
      }
    }
  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* form - radio, checkbox */
%rdoChkReset {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: top;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    + label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      vertical-align: top;
      @include mixins.no_select_text;

      .text-sm,
      .text-md,
      .text-lg {
        display: inline-block;
        padding: {
          top: 2px;
          left: 6px;
          bottom: 2px;
        }
        color: variables.$colorBlack;
        vertical-align: top;
      }
      .text-sm { // 13px
        @include mixins.font_size_md('md');
      }
      .text-md { // 14px
        @include mixins.font_size_lg;
      }
      .text-lg { // 15px
        @include mixins.font_size_xl;
      }
    }
  }
}

// default
.ui-chk,
.ui-rdo {
  @extend %rdoChkReset;
  min-height: 24px;

  input {
    + label {
      padding-left: 24px;
      min-height: 24px;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        @include mixins.prefix(transform, translateY(-50%));
        width: 24px;
        height: 24px;
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }

    &[disabled], &[aria-disabled], &[readonly] {
      & + label {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &:checked {
      & + label {
        &:before {
          background-color: variables.$colorGreen100;
          border-color: variables.$colorGreen100;
        }
      }
    }
  }
}

/* radio */
.ui-rdo {
  input {
    & + label {
      &:before, &:after {
        border-radius: 12px;
      }

      &:before {
        background-color: variables.$colorWhite;
        border: 1px solid variables.$colorGray40;
      }

      &:after {
        left: 7px;
        width: 10px;
        height: 10px;
        background-color: variables.$colorGray40;
        border: none;
        transform-origin: top;
      }
    }

    &:checked + label {
      &:before {
        @include mixins.prefix(transition, background-color 0.15s);
      }

      &:after {
        animation: rdoAnimation 0.35s variables.$easeInOutQuad forwards;
        background-color: variables.$colorWhite;
      }
    }
  }
}

@keyframes rdoAnimation {
  0%{
    transform: scale(0);
  }

  100% {
    transform: scale(1) translateY(-5px);
  }
}

.ui-rdo-button {
  @extend %rdoChkReset;

  input {
    width: 100%;

    & + label {
      width: 100%;
      padding: 7px;
      border-radius: 18px;
      border: 1px solid transparent;
      background-color: variables.$colorGray20;
      text-align: center;

      [class^=text] {
        padding: 0;
        color: variables.$colorGray80;
        font-weight: variables.$fontWeightSemibold;
      }

      &:before,
      &:after {
        content: initial;
      }
    }

    &[disabled], &[aria-disabled], &[readonly] {
      & + label {
        [class^=text] {
          padding: 0;
          color: variables.$colorGray50;
        }
      }
    }

    &:checked + label {
      border-color: variables.$colorGreen100;
      background-color: variables.$colorWhite;
      @include mixins.prefix(transition, all 0.15s);

      [class^=text] {
        color: variables.$colorGreen100;
      }
    }
  }
}

/* checkbox */
.ui-chk {
  input {
    & + label {
      &:before {
        border-radius: 6px;
        background-color: variables.$colorWhite;
        border: 1px solid variables.$colorGray40;
        left: 0;
      }

      &:after {
        @include mixins.ratio_images('~/assets/images/form/ico_check_def', 12px 10px, 6px 7px);
      }
    }

    &:checked + label {
      &:before {
        @include mixins.prefix(transition, background-color 0.15s);
      }
      &:after {
        animation: chkAnimation 0.5s variables.$transEaseBounceBack;
        @include mixins.ratio_images('~/assets/images/form/ico_check_sel', 12px 10px, 6px 7px);
      }
    }
  }
}

@keyframes chkAnimation {
  0% {
    opacity: 0;
    rotate: 12deg;
  }

  50% {
    opacity: 1;
    rotate: -10deg;
  }

  100% {
    rotate: 0;
  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* form - checkbox */
.attach-box {
  position: relative;
  display: inline-block;
  width: 76px !important;
  height: 76px;
  border-radius: 12px;
  background-color: variables.$colorGray20;
  border: 1px solid variables.$colorGray30;
  overflow: hidden;

  & ~ .attach-box {
    margin-left: 5px;
  }

  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_plus_gray_sm', 18px, center);
  }

  .attach-img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .attach-img {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .btn-remove {
      position: absolute;
      top: 2px;
      right: 2px;
      width: 26px;
      height: 26px;
      padding: 4px;
    }
  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* form - toggle */

/* toggle */
%uiToggle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

  input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    & + label {
      display: inline-block;
      height: 26px;
      padding-left: 48px;
      vertical-align: top;

      [class^=text-] {
        display: inline-block;
        padding: 3px 0 3px 8px;
        color: variables.$colorBlack;
        vertical-align: top;
        cursor: pointer;
      }

      .text-sm {
        @include mixins.font_size_md('md');
      }

      .text-md {
        @include mixins.font_size_lg('md');
      }

      &:before {
        content: '';
        position: absolute;
        background-color: variables.$colorGray40;
        border-radius: 21px;
        left: 0;
        top: 0;
        z-index: 1;
        width: 48px;
        height: 26px;
        @include mixins.prefix(transition, left .2s ease-out);
        @include mixins.prefix(transition, background-color .15s ease-out);
      }

      &:after {
        content: '';
        position: absolute;
        background-color: variables.$colorWhite;
        border-radius: 50%;
        left: 3px;
        top: 3px;
        z-index: 2;
        width: 20px;
        height: 20px;
        @include mixins.prefix(transition, left .2s ease-out);
      }
    }

    &:checked {
      & + label {
        &:before {
          background: variables.$colorGreen100;
        }
        &:after {
          left: 25px;
        }
      }
    }

    &:disabled, &[readonly] {
      & + label {
        &:before {
          opacity: 0.4;
        }

        [class^=text-] {
          color: variables.$colorGray60;
          cursor: inherit;
        }
      }
    }
  }
}

.ui-toggle {
  @extend %uiToggle;
}


/* form - spinner */
.ui-spinner-box {
  overflow: hidden;
  display: inline-block;
  border-radius: 18px;
  background-color: variables.$colorWhite;
  border: 1px solid variables.$colorGray40;
  width: 94px;
  height: 36px;
  vertical-align: top;

  .ui-spinner {
    position: relative;
    padding: 0 26px;

    .ui-input {
      width: 100%;
      height: 34px;
      @include mixins.font_size_sm('md');
      color: variables.$colorBlack;
      text-align: center;
      box-sizing: border-box;
      vertical-align: top;
      border: 0;
      background: 0;
    }

    .btn-minus,
    .btn-plus {
      position: absolute;
      top: 5px;
      display: inline-block;
      vertical-align: top;
      width: 24px;
      height: 24px;
    }
    .btn-minus {
      left: 5px;
      @include mixins.ratio_images('~/assets/images/form/ico_spinner_minus', 24px, center);
    }
    .btn-plus {
      right: 5px;
      @include mixins.ratio_images('~/assets/images/form/ico_spinner_plus', 24px, center);
    }
  }
}


/* ////////////////////////////////////////////////////////////////////////// */


/* ui-col-group */

$itemGap: ('md': 10px, 'lg': 16px); // md - 10px
@each $gap, $px in $itemGap {
  .ui-col-#{$gap}-group {
    margin-bottom: -10px;

    [class^=ui-] {
      margin-bottom: 10px;
      margin-right: $px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
