@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

$listGapSize: ('sm': 6px, 'lg': 16px, 'xl': 24px);
$wrapSize: ('xs': 10px, 'sm': 16px, 'md': 24px, 'lg': 30px);

/* list */
// Wrap
@each $size, $px in $wrapSize {
  .glist-#{$size}-wrap {
    &:not(:first-child) {
      margin-top: $px;
    }
  }
}

%rowListComm {
  display: grid;
  gap: 10px;
  @each $size, $px in $listGapSize {
    &.gap-#{$size} {
      gap: $px;
    }
  }
}

// List
@for $i from 2 through 6 {
  .grid-col#{$i}-list {
    @extend %rowListComm;
    grid-template-columns: repeat(#{$i}, 1fr);
    :deep(.item-grid) {
      position: relative;
    }
    :deep(.item-grid-full) {
      position: relative;
      grid-column: 1 / span #{$i};
    }
  }
}

/* list */
.grid-col2-list {

  :deep(.item-grid) {
    // .btn-link 사용 시 (임시)
    position: relative;
  }
}

