@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


%icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

/* s : 아이콘 */

/* icon comm */
// size - default / h24
.ico-back {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_back_header');
}

.ico-home {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_home_header');
}

.ico-chat {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_chat_header');
}

.ico-alarm {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_alarm_header');
}

.ico-cart {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_cart_header');
}

.ico-search {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_search_header');
}

.ico-close {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_close_header');
}

.ico-top {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_top');
}

.ico-headphone-gray {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_headphone_gray_cs');
}

// size - sm / h18
.ico-plus-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_plus_gray_sm');
}
.ico-plus-white-sm { // white
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_plus_white_sm');
}
.ico-search-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_search_gray_sm');
}
.ico-calendar-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_calendar_gray_sm');
}
.ico-arw-down-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_arw_down_gray_sm');
}
.ico-arw-right-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  //@include mixins.ratio_images('~/assets/images/common/comm_ico_arw_right_gray_sm');
  @include mixins.svg_mask('~/assets/images/common/comm_ico_arw_right_gray_sm', variables.$colorGray80);
}
.ico-clear-black-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_clear_black_sm');
}
.ico-clear-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_clear_gray_sm');
}
.ico-filter-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_filter_gray_sm');
}
.ico-delete-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_delete_gray_sm');
}
.ico-check-green-sm { //green
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_check_green_sm');
}
.ico-current-location-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_location_black_sm_delivery');
}
.ico-info-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_info_gray_sm');
}
.ico-location-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_location_gray_sm');
}
.ico-edit-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_edit_gray_sm');
}
.ico-call-gray-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_call_gray_sm');
}


// size - xs / h16
.ico-arw-right-gray-xs {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_arw_right_gray_xs');
}
.ico-arw-down-gray-xs {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_arw_down_gray_xs');
}
.ico-arw-up-gray-xs {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_arw_up_gray_xs');
}
.ico-close-gray-xs {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_close_gray_xs');
}
.ico-check-green-xs { //green
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_check_green_xs');
}
.ico-delete-gray-xs {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_delete_black_xs');
}
.ico-edit-green-xs { //green
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_edit_green_xs');
}
.ico-write-green-xs { //green
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_write_green_xs');
}
.ico-filter-gray-xs {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_filter_gray_xs');
}
.ico-delete-gray-xs {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_delete_gray_xs');
}
.ico-rating-gray-xs {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_rating_gray_xs');
}

.ico-wish-sm {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.svg_mask('~/assets/images/common/comm_ico_wish_sm', rgba( variables.$colorBlack, 20% ));
  opacity: 0.8;
}

.is-active {
  .ico-wish-sm {
    background-color: variables.$colorRed100;
  }
}


// size - default / h14
.ico-barcode {
  @extend %icon;
  width: 34px;
  height: 34px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_barcode_docker');
}

/* 34px size 가이드 확인 필요 by ljy */
.ico-tooltip {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_tooltip_def');
}

.btn-tooltip.is-active {
  .ico-tooltip {
    @include mixins.ratio_images('~/assets/images/common/comm_ico_tooltip_sel');
  }
}

/* RowListWrap - sub item */
.ico-bullet-order-list {
  @extend %icon;
  width: 13px;
  height: 12px;
  margin-right: 6px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_bullet_order_info_list');
}

/* 택배 > 메인 */
.ico-inquiry-guide {
  @extend %icon;
  width: 42px;
  height: 42px;
  @include mixins.ratio_images('~/assets/images/delivery/ico_inquiry_guide');
}

/* MY > 주소록 관리 */
.ico-access-location-green {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/my/ico_access_location_green_my');
}

.ico-current-marker {
  @extend %icon;
  width: 52px;
  height: 60px;
  @include mixins.ratio_images('~/assets/images/my/ico_current_marker_my');
}

/* sns icon - usage: 회원, 공통팝업 */
.ico-sns-kakao-sm {
  @extend %icon;
  width: 44px;
  height: 44px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_sns_kakao_sm_member');
}
.ico-sns-naver-sm {
  @extend %icon;
  width: 44px;
  height: 44px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_sns_naver_sm_member');
}
/* s : info-guide-wrap */

// type) info-guide

// type) no-data
.ico-no-data-store { // 매장없음 아이콘
  @extend %icon;
  width: 80px;
  height: 80px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_no_data_store');
}

.ico-no-data-history { // 내역없음 아이콘
  @extend %icon;
  width: 80px;
  height: 80px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_no_data_history');
}

.ico-no-data-search-result { // 검색결과 없음 아이콘
  @extend %icon;
  width: 80px;
  height: 80px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_no_data_history');
}

.ico-no-data-filter-result { // 필터결과 없음 아이콘
  @extend %icon;
  width: 80px;
  height: 80px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_no_data_filter_result');
}

.ico-no-data-cart { // 장바구니 없음 아이콘
  @extend %icon;
  width: 80px;
  height: 80px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_no_data_cart');
}

.ico-no-data-address { // 주소없음 아이콘
  @extend %icon;
  width: 80px;
  height: 80px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_no_data_address');
}

.ico-no-data-coupon { // 쿠폰없음 아이콘
  @extend %icon;
  width: 80px;
  height: 80px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_no_data_coupon');
}

.ico-no-data-review { // 리뷰없음 아이콘
  @extend %icon;
  width: 80px;
  height: 80px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_no_data_review');
}

/* e : info-guide-wrap */

/* 임시 - 수정예정 */
/* info-guide-wrap_temp / 삭제예정 LTK */
.ico-info-guide-temp {
  @extend %icon;
  width: 103px;
  height: 103px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_h103_info_guide');
}
.ico-no-data-temp {
  @extend %icon;
  width: 64px;
  height: 64px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_h64_no_data');
}

/* 고객센터 임시 아이콘 / 삭제예정 LTK */
.ico-grade-benefit-temp {
  @extend %icon;
  width: 67px;
  height: 67px;
  @include mixins.ratio_images('~/assets/images/cs/ico_grade_benefit_h67_cs');
}

/*.ico-delivery-common {
    @extend %icon;
    flex-shrink: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 14px;
    border-radius: 4px;
    @include mixins.ratio_images('~/assets/images/product/ico_prod_delivery_info_common_h30', 30px 30px, center, variables.$colorGray06);
}
.ico-clock {
    @extend %icon;
    display: inline-block;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/product/ico_clock');
    vertical-align: top;
}*/

/* e: customer */
