@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


%icon {
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

/* s : 아이콘 */

/* icon comm */
// size - default / h24
.ico-back {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_back_black_header');
}

.ico-home {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_home_black_header');
}

.ico-box {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_box_black_header');
}

.ico-user {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_user_black_header');
}

.ico-menu {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_menu_black_header_sel');
}

.is-active {
  .ico-home {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_home_black_header_sel');
  }

  .ico-box {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_box_black_header_sel');
  }

  .ico-user {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_user_black_header_sel');
  }

  .ico-menu {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_menu_black_header_sel');
  }
}

.ico-chat {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_chat_black_header');
}

.ico-alarm {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_alarm_black_header');
}

.ico-cart {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_cart_black_header');
}

.ico-search {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_search_black_header');
}

.ico-close {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_close_black_header');
}

.ico-arwdown {
    @extend %icon;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_arwdown_black_folding');
}

.ico-top {
  @extend %icon;
  width: 24px;
  height: 24px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_top');
}

// size - sm / h18
.ico-plus-sm {
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_plus_black_sm');
}
.ico-search-sm {
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_search_black_sm');
}
.ico-calendar-sm {
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_calendar_black_sm');
}
.ico-arwdown-sm {
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_arwdown_black_sm');
}
.ico-arwright-sm {
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_arwright_black_sm');
}
.ico-clear-sm {
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_clear_black_sm');
}
.ico-clear-gray-sm { //gray
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_clear_gray_sm');
}
.ico-filter-sm {
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_filter_black_sm');
}
.ico-delete-sm {
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_delete_black_sm');
}
.ico-check-green-sm { //green
    @extend %icon;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_check_green_sm');
}

// size - xs / h16

.ico-arwright-xs {
    @extend %icon;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_arwright_black_xs');
}
.ico-arwdown-xs {
    @extend %icon;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_arwdown_black_xs');
}
.ico-arwup-xs {
    @extend %icon;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_arwup_black_xs');
}
.ico-close-xs {
    @extend %icon;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_close_black_xs');
}
.ico-check-green-xs { //green
    @extend %icon;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_check_green_xs');
}
.ico-delete-xs {
    @extend %icon;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_delete_black_xs');
}
.ico-edit-green-xs { //green
    @extend %icon;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_edit_green_xs');
}
.ico-write-green-xs { //green
    @extend %icon;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/common/comm_ico_write_green_xs');
}

// size - default / h14
.ico-barcode {
  @extend %icon;
  width: 34px;
  height: 34px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_barcode_docker');
}

/* 34px size 가이드 확인 필요 by ljy */
.ico-tooltip {
  @extend %icon;
  width: 14px;
  height: 14px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_tooltip_def');
}

.btn-tooltip.is-active {
  .ico-tooltip {
    @include mixins.ratio_images('~/assets/images/common/comm_ico_tooltip_sel');
  }
}


/* 임시 - 수정예정 */

/* info-guide-wrap_temp / 삭제예정 LTK */
.ico-info-guide-temp {
  @extend %icon;
  width: 103px;
  height: 103px;
  @include mixins.ratio_images('~/assets/images/temp/temp_ico_h103_delivery');
}
.ico-no-data-temp {
  @extend %icon;
  width: 64px;
  height: 64px;
  @include mixins.ratio_images('~/assets/images/temp/temp_ico_h64_delivery');
}

.ico-bullet-order-list {
  @extend %icon;
  width: 13px;
  height: 12px;
  margin-right: 6px;
  @include mixins.ratio_images('~/assets/images/common/comm_ico_bullet_order_info_list');
}

/*.ico-delivery-common {
    @extend %icon;
    flex-shrink: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 14px;
    border-radius: 4px;
    @include mixins.ratio_images('~/assets/images/product/ico_prod_delivery_info_common_h30', 30px 30px, center, variables.$colorGray06);
}
.ico-clock {
    @extend %icon;
    display: inline-block;
    width: 16px;
    height: 16px;
    @include mixins.ratio_images('~/assets/images/product/ico_clock');
    vertical-align: top;
}*/

/* e: customer */
