@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

[class^=info-guide][class$=wrap] {
  padding-top: 80px;
  text-align: center;
  @include mixins.word_break;

  [class^=ico] {
    display: block;
    margin: 0 auto 16px;

    ~ .info-guide-desc {
      margin-top: 24px;
    }
  }

  .info-guide-desc {
    @include mixins.font_size_3xl;
    color: var(--Grayscale-100);
  }

  .no-data-desc {
    @include mixins.font_size_2xl;
    color: var(--Grayscale-100);
  }

  .sub-desc {
    margin-top: 6px;
    @include mixins.font_size_lg('lt');
    color: var(--Grayscale-70);
  }

  &.info-guide-zero-wrap {
    padding-top: 0;
  }
}


