@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* 안내성 컨텐츠 - 임시 class */

.info-guide-wrap {
  padding-top: 80px;
  text-align: center;
  @include mixins.word_break;

  [class^=ico] {
    display: block;
    margin: 0 auto 16px; // 하단 여백 임시

    ~ .stext-xl {
      margin-top: 24px;
    }
  }

  .stext-xl {
    font-weight: variables.$fontWeightSemibold;
    color: variables.$colorGray90;
  }

  .stext {
    margin-top: 6px;
  }

  .stext, .stext-lg {
    color: variables.$colorGray70;
  }
}
