@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* 안내성 컨텐츠 - 임시 class */

.info-guide-wrap {
  padding-top: 80px;
  text-align: center;
  @include mixins.word_break;

  [class^=ico] {
    display: block;
    margin: 0 auto 16px;

    ~ .info-guide-desc {
      margin-top: 24px;
    }
  }

  .info-guide-desc {
    @include mixins.font_size_3xl;
    color: variables.$colorBlack;
  }

  .no-data-desc {
    @include mixins.font_size_2xl;
    color: variables.$colorBlack;
  }

  .sub-desc {
    margin-top: 6px;
    @include mixins.font_size_lg('lt');
    color: variables.$colorGray70;
  }

}
