@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* form - input */

%inputBox {
  overflow: hidden;
  @include mixins.justify_width(center);
  height: 44px;
  padding: {
    top: 6px;
    right: 7px;
    bottom: 6px;
    left: 18px;
  }
  border: 1px solid transparent;
  border-radius: 22px;
  background-color: var(--Grayscale-20);

  .ui-input {
    height: 100%;
    padding-right: 10px;
    background-color: inherit;

  }

  [class^=btn] {
    flex-shrink: 0;
  }

  .btn-input-del {
    display: none;
    width: 24px;
    height: 24px;
    @include mixins.ratio_images('/assets/images/form/ico_clear_input_def', 18px, center);
    margin: {
      left: -3px;
      right: 7px;
    }
    padding: 3px;
  }

  .btn-input-search {
    width: 24px;
    height: 24px;
    margin: {
      right: 10px;
    }
    @include mixins.ratio_images('/assets/images/common/comm_ico_search_header', 24px, center);
  }

  .btn-input-date {
    width: 18px;
    height: 18px;
    margin: {
      right: 10px;
    }
    @include mixins.ratio_images('/assets/images/common/comm_ico_calendar_sm', 18px, center);
  }

  .unit {
    flex-shrink: 0;
    display: inline-block;
    margin: {
      top: 6px;
      bottom: 6px;
    };
    @include mixins.font_size_md('md');
    color: var(--Grayscale-70);
    vertical-align: top;

    &:last-child {
      margin-right: 13px;
    }

    ~ .btn-line-light-gray-xs {
      margin-left: 10px;
    }
  }

  .byte-check {
    align-self: center;
    @include mixins.justify_width(center, center);
    margin-right: 13px;
  }

  .btn-toggle-pw {
    width: 18px;
    height: 18px;
    margin: {
      right: 10px;
    }
    @include mixins.ratio_images('/assets/images/common/comm_ico_toggle_password_hide', 18px, center);

    &.is-active {
      @include mixins.ratio_images('/assets/images/common/comm_ico_toggle_password_show', 18px, center);
    }
  }

  &.is-focus {
    border-color: var(--Primary-Green-100);
    background-color: var(--Grayscale-0);
    @include mixins.prefix(transition, border 0.2s ease-out);

    .ui-input[type=search] {
      &::placeholder {
        color: transparent;
      }
    }
  }

  &.has-value {
    .btn-input-del {
      display: block;

      ~ [class^=btn],
      ~ .byte-check {
      }
    }
  }

  &.is-disabled {
    border-color: var(--Grayscale-30);
    background-color: var(--Grayscale-0);

    .ui-input {
      color: var(--Grayscale-50);
    }

    .btn-input-del {
      display: none;
    }
  }
}

// input
.ui-input {
  @include mixins.clear_focus;
  @include mixins.font_size_lg('lt');
  color: var(--Grayscale-100);
  width: 100%;

  &::placeholder {
    color: var(--Grayscale-50);
  }
}

// default
.input-box {
  @extend %inputBox;

  &:has([class^=badge][class*=md]) {
    &:has(.ui-input[type=search]) {
      [class^=badge][class*=md] {
        order: 1;
        flex-shrink: 0;
        margin-right: 10px;
      }
      .ui-input {
        order: 2;
      }
      .btn-input-del {
        order: 3;
      }
      .btn-input-search {
        order: 4;
      }
    }
  }
}

.flex-center-group {
  .input-box, .ui-select, .datepicker-box, .input-info-box {
    flex: 1;
  }

  .gap {
    display: inline-block;
    margin: {
      left: 6px;
    };
    @include mixins.font_size_2xl('md');
    vertical-align: top;

    ~ :deep(.flex-right) {
      margin-left: 6px;
    }
  }
}
