@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s : keyframes */
@keyframes bottomPopAnimation {
  0% {
    margin-bottom: calc( 100vh / 5 * -1 );
  }
  100% {
    margin-bottom: 0;
  }
}

@keyframes scaleAnimation {
  0% {
    @include mixins.prefix(transform, scale(0.85));
  }
  100% {
    @include mixins.prefix(transform, scale(1));
  }
}


@keyframes chkAnimation {
  0% {
    opacity: 0;
    rotate: 12deg;
  }

  100% {
    rotate: 0;
  }
}


@keyframes bookmarkAnimation {
  0% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes toastAnimation {
  0% {
    bottom: -2%;
    opacity: 0;
  }
  100% {
    bottom: 20px;
    opacity: 1;
  }
}

@keyframes toastNavbarAnimation {
  0% {
    bottom: -2%;
    opacity: 0;
  }
  100% {
    bottom: variables.$navbarHeight;
    opacity: 1;
  }
}

/* e: keyframes */
