@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.list-header {
  margin-bottom: 10px;

  .flex-center-group {
    .goods-group {
      @include mixins.font_size_xl;

      .label {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        color: var(--Grayscale-100);
      }

      .goods-md {
        margin-top: 1px;
      }
    }

    .flex-right {
      margin-left: 10px;

      .ui-select {
        &.type-text {
          flex-grow: 0;
        }
      }

      .ui-select, .ui-chk {
        ~ [class^=btn] {
          margin-left: 10px;
        }
      }
    }
  }

  &.faq-search-info { // 고객센터 faq
    position: relative;
    padding: 16px 0;
    margin: 0;

    &::after {
      content: '';
      position: absolute;
      left: -20px;
      bottom: 0;
      width: calc(100% + 40px);
      height: 1px;
      background-color: var(--Grayscale-30);
    }
  }

  .search-result-tit { // 검색결과
    @include mixins.font_size_2xl;
    color: var(--Grayscale-100);
  }

  ~ .map-wrap {
    margin-top: 0;
  }
}

// type line
.list-line-header {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--Grayscale-30);
}
