@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* S: tab-wrap */
//기본 스타일 정의
%tabCommon {
  .tab-item {
    .tab-link {
      display: inline-block;
      font-size: 0;
      vertical-align: top;
      cursor: pointer;

      .tab-text {
        position: relative;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  &:last-child {
    @include mixins.justify_width(stretch, start, column);
    flex: 1 0 auto;

    .tab-contents {
      @include mixins.justify_width(stretch, start, column);
      flex: auto;

      .cont-wrap:last-child {
        flex: 1 0 auto;
      }
    }
  }

  .tabs {
    &:has(.swiper-auto-wrap) {
      margin: {
        left: -5px;
        right: -5px;
      }
    }

    &:has(.scroll-fix) {
      position: sticky;
      top: 55px;
      z-index: 26;
      background-color: var(--Grayscale-0);
    }
  }
}

.tab-wrap {
  @extend %tabCommon;

  .tab-list,
  .tab-line-list {
    @include mixins.justify_width;
  }

  // default (type box)
  .swiper-auto-tab-wrap,
  .tab-list {
    position: relative;
    padding: 0 15px;

    .tab-item {
      min-height: 40px;

      .tab-link {
        padding: 9px 16px;
        border-radius: 20px;
        border: 1px solid transparent;
        background-color: var(--Grayscale-20);

        .tab-text {
          @include mixins.font_size_lg('lt');
          color: var(--Grayscale-80);
        }

        &[disabled], &[aria-disabled=true], &.disabled {
          background-color: var(--Grayscale-30);
        }

        &.is-active {
          border-color: var(--Primary-Green-100);
          background-color: var(--Grayscale-0);

          .tab-text {
            color: var(--Primary-Green-100);
            font-weight: variables.$fontWeightSemibold;
          }
        }
      }
    }
  }

  .tab-list {
    .tab-item {
      .tab-link {
        background-color: var(--Grayscale-30);
      }
    }
  }

  // type line
  .swiper-auto-line-wrap,
  .tab-line-list {
    position: relative;
    background: var(--Grayscale-0);

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: var(--Grayscale-30);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .tab-item {
      .tab-link {
        padding: 14px 10px 14px;

        .tab-text {
          @include mixins.font_size_2xl;
          color: var(--Grayscale-60);
        }

        &.is-active {
          .tab-text {
            position: relative;
            color: var(--Primary-Green-100);

            &:before {
              content: '';
              display: inline-block;
              width: 100%;
              height: 2px;
              border-radius: 1px;
              position: absolute;
              bottom: -14px;
              left: 0;
              right: 0;
              z-index: 1;
              background-color: var(--Primary-Green-100);
            }
          }
        }
      }
    }
  }

  .swiper-auto-line-wrap {
    .swiper {
      padding: 0 10px;
    }
  }

  .tab-line-list {
    padding: 0 10px;
  }

  // type bar
  .swiper-auto-bar-wrap {
    .tab-item {
      .tab-link {
        position: relative;
        padding: 0 10px;

        .tab-text {
          @include mixins.font_size_lg;
          color: var(--Grayscale-60);
        }

        &.is-active {
          .tab-text {
            font-weight: variables.$fontWeightSemibold;
            color: var(--Grayscale-90);
          }
        }
      }

      ~ .tab-item {
        &:before {
          content: '';
          position: absolute;
          top: 4px;
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: var(--Grayscale-40);
          vertical-align: top;
        }
      }
    }
  }

  &.justify-tab {
    .tabs {

      // default (box type)
      .tab-list {
        /*padding: 0 12px;*/
        padding: 0 15px; // 디자인 검수

        .tab-item {
          padding: 0 3px;
        }
      }

      // line type
      .tab-line-list {
        padding: 0 20px;
      }

      .swiper-auto-line-wrap,
      .tab-line-list {
        .tab-item {
          .tab-link {
            &.is-active {
              position: relative;

              &:before {
                content: '';
                display: inline-block;
                width: 100%;
                height: 2px;
                border-radius: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                background-color: var(--Primary-Green-100);
              }
            }

            .tab-text {
              position: initial;

              &:before {
                content: initial;
              }
            }
          }
        }
      }

      .tab-item {
        flex: 1;
        width: 100%;

        .tab-link {
          @include mixins.justify_width(center, center);
          width: 100%;
        }
      }

      .tab-list {
        gap: 6px;

        .tab-item {
          padding: 0;
        }
      }
    }
  }
}

.cont-wrap .tab-wrap {
  &:last-child {
    display: block;
  }
}


/* E: tabWrap */
