@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.tag-md {
  display: inline-block;
  max-height: 36px;
  padding-right: 16px;
  background-color: var(--Grayscale-20);
  border-radius: 22px;
  vertical-align: top;


  .text {
    display: inline-block;
    padding: 8px 0 8px 16px;
    vertical-align: top;
    @include mixins.font_size_md('sb');
    color: var(--Grayscale-80);
  }

  .btn-delete {
    margin: {
      top: 10px;
      left: 4px;
    }
  }
}

// type full
.tag-full-box {
  @include mixins.justify_width(center, between);
  flex-wrap: wrap;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--Grayscale-20);

  .flex-center-group {
    flex: 1;
  }

  .btn-delete {
    display: inline-block;
    height: 16px;
    margin: {
      top: 2px;
      bottom: 2px;
      left: 10px;
    }
    vertical-align: top;
  }

  [class^=ctitle][class$=wrap] {
    width: 100%;
  }
}

.tag-md-group {
  margin-top: -6px;
  margin-left: -4px;
  .tag-md {
    margin: {
      top: 6px;
      left: 4px;
    }
  }
}
