@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

// ctitle
%ctitleCommon {
  span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

[class^=ctitle-2xs] { // 13px
  @extend %ctitleCommon;
  @include mixins.font_size_md(sb);
  color: var(--Grayscale-100);
}

.ctitle-2xs-gray70 {
  font-weight: variables.$fontWeightRegular;
  color: var(--Grayscale-70);
}

[class^=ctitle-xs] { // 14px
  @extend %ctitleCommon;
  @include mixins.font_size_lg;
  color: var(--Grayscale-100);
  //color: var(--Grayscale-90);

  .ico-arwright-xs {
    margin: {
      top: 1px;
      left: 2px;
    }
  }
}

.ctitle-xs-gray90 {
  color: var(--Grayscale-90);
}

.ctitle-sm { // 15px
  @extend %ctitleCommon;
  @include mixins.font_size_xl;
  color: var(--Grayscale-100);

  [class^=badge][class$=sm] {
    margin: {
      top: 2px;
      right: 6px;
    }
  }
}

.ctitle-md { // 16px
  @extend %ctitleCommon;
  @include mixins.font_size_2xl;
  color: var(--Grayscale-100);
}

.ctitle-lg { // 18px
  @extend %ctitleCommon;
  @include mixins.font_size_3xl;
  color: var(--Grayscale-100);
}

.ctitle-xl { // 20px
  @extend %ctitleCommon;
  @include mixins.font_size_4xl;
  color: var(--Grayscale-100);
}

.ctitle-2xl { // 22px
  @extend %ctitleCommon;
  @include mixins.font_size_5xl;
  color: var(--Grayscale-100);
}

// ctitle-wrap size

%ctitleWrapZero {
  margin-bottom: 0 !important;
}

%ctitleWrapSm {
  margin-bottom: 10px;
}

%ctitleWrapMd {
  margin-bottom: 16px;
}

%ctitleWrapLg {
  margin-bottom: 24px;
}


// ctitle-wrap size
%ctitleWrapZero {
  margin-bottom: 0 !important;
}

%ctitleWrapSm {
  margin-bottom: 10px;
}

%ctitleWrapMd {
  margin-bottom: 16px;
}

%ctitleWrapLg {
  margin-bottom: 24px;
}

// ctitle-wrap 및 텍스트간 여백
.ctitle-zero-wrap {
  @extend %ctitleWrapZero;

  .flex-center-group {
    .flex-right {
      [class^=stext-lg] {
        margin-top: 0;
      }
    }
  }
}

.ctitle-sm-wrap {
  @extend %ctitleWrapSm;
}

.ctitle-md-wrap {
  @extend %ctitleWrapMd;

  .flex-end-group {
    .flex-left {
      .ctitle-md {
        ~ .stext {
          width: 100%;
        }
      }
    }
  }

  .flex-center-group {
    .flex-left {
      .ctitle-xl {
        ~ [class^=stext-lg] {
          margin: {
            top: 0;
            left: 6px;
          }
        }
      }
    }

    .flex-right {
      [class^=stext-lg] {
        margin-top: 0;
      }
    }
  }
}

.ctitle-lg-wrap {
  @extend %ctitleWrapLg;
}

[class^=ctitle][class$=wrap] {
  .title-sub {
    @include mixins.font_size_md('md');
    margin-bottom: 4px;

    &-md {
      @include mixins.font_size_lg('md');
      margin-bottom: 4px;
    }

    &-gray {
      @include mixins.font_size_md('md');
      margin-bottom: 4px;
      color: var(--Grayscale-70);
    }
  }

  [class^=stext] {
    margin-top: 4px;

  }

  [class^=stext-lg] {
    margin-top: 6px;
  }

  .stext, .stext-black, .stext-gray90, .stext-gray70 {
    + .ctitle-xs {
      margin-top: 2px;
    }
  }

}


