@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

// ctitle
%ctitleCommon {
  span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

[class^=ctitle-2xs] { // 13px
  @extend %ctitleCommon;
  @include mixins.font_size_md(sb);
  color: variables.$colorGray90;
}

.ctitle-2xs-gray {
  @include mixins.font_size_md(body);
  color: variables.$colorGray70;

}

.ctitle-xs { // 14px
  @extend %ctitleCommon;
  @include mixins.font_size_lg;
  color: variables.$colorGray90;

  .ico-arwright-xs {
    margin: {
      top: 1px;
      left: 2px;
    }
  }
}

.ctitle-sm { // 15px
  @extend %ctitleCommon;
  @include mixins.font_size_xl;
  color: variables.$colorBlack;

  [class^=badge][class$=sm] {
    margin: {
      top: 2px;
      right: 6px;
    }
  }
}

.ctitle-md { // 16px
  @extend %ctitleCommon;
  @include mixins.font_size_2xl;
  color: variables.$colorBlack;
}

.ctitle-lg { // 18px
  @extend %ctitleCommon;
  @include mixins.font_size_3xl;
  color: variables.$colorBlack;
}

.ctitle-xl { // 20px
  @extend %ctitleCommon;
  @include mixins.font_size_4xl;
  color: variables.$colorBlack;
}

.ctitle-2xl { // 22px
  @extend %ctitleCommon;
  @include mixins.font_size_5xl;
  color: variables.$colorBlack;
}

// ctitle-wrap size

%ctitleWrapZero {
  margin-bottom: 0 !important;
}

%ctitleWrapSm {
  margin-bottom: 10px;
}

%ctitleWrapMd {
  margin-bottom: 16px;
}

%ctitleWrapLg {
  margin-bottom: 24px;
}


// ctitle-wrap size
%ctitleWrapZero {
  margin-bottom: 0 !important;
}

%ctitleWrapSm {
  margin-bottom: 10px;
}

%ctitleWrapMd {
  margin-bottom: 16px;
}

%ctitleWrapLg {
  margin-bottom: 24px;
}

// ctitle-wrap 및 텍스트간 여백
.ctitle-zero-wrap {
  @extend %ctitleWrapZero;
}

.ctitle-sm-wrap {
  @extend %ctitleWrapSm;
}

.ctitle-md-wrap {
  @extend %ctitleWrapMd;
}

.ctitle-lg-wrap {
  @extend %ctitleWrapLg;
}

[class^=ctitle][class$=wrap] {
  .title-sub {
    @include mixins.font_size_md('md');
    margin-bottom: 4px;

    &-md {
      @include mixins.font_size_lg('md');
      margin-bottom: 4px;
    }

    &-gray {
      @include mixins.font_size_md('md');
      margin-bottom: 4px;
      color: variables.$colorGray70;
    }
  }


  .stext-lg {
    margin-top: 6px;
  }

  .stext {
    margin-top: 4px;

    &.board-date {
      color: variables.$colorGray70;
    }
  }

  .stext {
    + .ctitle-xs {
      margin-top: 2px;
    }
  }

}


