@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.tooltip {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 1;

  .btn-tooltip {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
  }

  .tooltip-box {
    z-index: 30;
    position: absolute;
    top: calc( 100% + 10px );
    padding: 12px;
    background: var(--Grayscale-0);
    border: 1px solid var(--Grayscale-40);
    border-radius: 10px;
    @include mixins.font_size_md;
  }
}
