@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


/*  container */
/* 터치 가능한 환경에서 적용한 CSS */

.wrapper {
  &:has(.cont-docker-wrap) {
    .container-wrapper {
      padding-bottom: #{variables.$contDockerHeight};
    }
  }

  &:has(.header-wrapper) {
    .container-wrapper {
      min-height: calc( 100dvh - #{variables.$headerHeight} );
    }
  }
}

.container-wrapper {
  min-height: 100dvh;
  @include mixins.justify_width(stretch, start, column);
}

/* // container */
