@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


/*  container */
.wrapper {
  &:has(.header-wrapper) {
    .container-wrapper {
      padding-top: variables.$headerHeight;
      min-height: 100vh;
    }
  }
  &:has(.header-wrapper.header-main) {
    .container-wrapper {
      padding-top: 0;
    }
  }
}
.container-wrapper {
  min-height: 100vh;
  @include mixins.justify_width(stretch, start, column);
}

/* // container */
