@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s: docker */
.docker-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background: variables.$colorWhite;
  padding-bottom: env(safe-area-inset-bottom);
  box-shadow: 0 -5px 10px 0 rgba(variables.$colorGray80, 0.05);

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 13;
    top: -14px;
    left: 50%;
    @include mixins.prefix(transform, translateX(-50%));
    width: 76px;
    height: 76px;
    border: 7px solid variables.$colorWhite;
    border-radius: 38px;
    box-shadow: 0 -5px 10px 0 rgba(variables.$colorGray80, 0.05);
  }

  // docker list
  .docker-list {
    position: relative;
    z-index: 14;
    height: variables.$dockerHeight;
    background: variables.$colorWhite;
    @include mixins.justify_width(start, around);

    .docker-item {
      @include mixins.justify_width(stretch);
      text-align: center;
      flex: 1 0 0;

      .docker-link {
        @include mixins.justify_width(center, center, column);
        width: 100%;
        padding: 10px 0 16px;

        [class^=ico] {
          width: 24px;
          height: 24px;
        }

        .text {
          display: block;
          margin-top: 5px;
          @include mixins.font_size_xs;
          color: variables.$colorGray90;
        }

        &.is-active {
          .text {
            font-weight: 700;
          }
        }
      }

      &.barcode {
        flex: 0;
        margin-top: -7px;
        border-radius: 50%;

        .docker-link {
          width: 62px;
          height: 62px;
          padding: 14px 0;
          background: linear-gradient(#0ad45b, #00909a);
          box-shadow: 0 5px 10px 0 rgba(3, 145, 94, 0.3);
          border-radius: 31px;

          [class^=ico] {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  }
}
