@use 'sass:map';
@use '../components/keyframes';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* S: floating */
.floating-wrapper {
  position: fixed;
  z-index: 20;
  right: 10px;
  //bottom: 16px;
  bottom: variables.$navbarHeight;

  .btn-go-top {
    width: 40px;
    height: 40px;
    background-color: rgba(var(--Grayscale-0-RGB), 95%);
    border: 1px solid rgba(var(--Grayscale-100-RGB), 10%);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(var(--Grayscale-100-RGB), 10%);
    backdrop-filter: blur(5px);

    .ico-top {
      @include mixins.prefix(transform, translateY(0));
    }
  }
}

.wrapper {
  &:has(.cont-docker-wrap) {
    .floating-wrapper {
      bottom: #{ variables.$contDockerHeight - 14 };
    }
  }
  &:has(.not-navbar) {
    .floating-wrapper {
      bottom: 16px;
    }
    &:has(.cont-docker-wrap) {
      .floating-wrapper {
        bottom: #{ variables.$contDockerHeight - 14 };
      }
    }
  }
}
body:has(.toast-box.has-close) {
  .floating-wrapper {
    @include mixins.prefix(transition, all 0.08s);
    bottom: #{ variables.$navbarHeight + 48 + 14 };
  }
}

.floating-enter-active, .floating-leave-active {
  transition: opacity 0.5s variables.$transEaseBounceBack;

  .ico-top {
    @include mixins.prefix(animation, goTopIcoActive 0.35s 0.25s variables.$transEaseBounceBack forwards);
    @include mixins.prefix(transform, translateY(0));
  }
}

.floating-enter-from, .floating-leave-to {
  opacity: 0;
}

.floating-enter-to {

  .ico-top {
    opacity: 0;
    @include mixins.prefix(transform, translateY(0));
  }
}


@keyframes goTopIcoActive {
  0% {
    opacity: 0;
    @include mixins.prefix(transform, translateY(12px));
  }
  100% {
    opacity: 1;
    @include mixins.prefix(transform, translateY(0));
  }
}
