@use '../abstracts/variables';
@use '../abstracts/mixins';

/*  footer */
.footer-wrapper {
  background: var(--Grayscale-30);
  padding-bottom: variables.$navbarHeight;

  .cont-lg-wrap {
    background: transparent;

    .flex-start-group {
      .has-cs-menu {
        flex-shrink: initial;

        .footer-cs-menu {
          text-align: right;
          padding-left: 10px;
        }
      }
    }

  }
}


.footer-cs-menu {
  gap: 10px;

  .item-cs-menu {
    line-height: 1;

    ~ .item-cs-menu {
      margin-top: 10px;
    }
  }

  .btn-cs-menu {
    display: inline-block;
    color: var(--Grayscale-100);
    @include mixins.font_size_lg('md');
    vertical-align: top;
  }
}

.footer-info-group {
  .row-info {
    @include mixins.font_size_md;
    color: var(--Grayscale-80);
    word-break: keep-all;

    .tbtn-xs-udl {
      .text {
        font-weight: initial;
      }
    }

    ~ .row-info {
      margin-top: 10px;
    }
  }
}

.copyright {
  margin-top: 16px;
  @include mixins.font_size_sm;
  color: var(--Grayscale-70);
}

/* // footer */
