@use 'sass:selector';
@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/*  grid */
body {
  .wrapper {
    position: relative;
  }
}

.wrapper {
  background: variables.$colorWhite;
  min-height: var(--reVh, 1vh);

}

/* e: container */
/* // grid */
