@use 'sass:selector';
@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/*  grid */
body {
  .wrapper {
    position: relative;
  }
}

.wrapper {
  background: variables.$colorWhite;
  min-height: var(--reVh, 1vh);
  padding-bottom: calc(#{variables.$dockerHeight} + env(safe-area-inset-bottom));

  &.no-docker {
    padding-bottom: 0;
  }
}

/* e: container */
/* // grid */
