@use 'sass:map';
@use '../../abstracts/variables';
@use '../../abstracts/mixins';
@use '../../base/components';

/* 임시 작성 - 삭제 예정 */

// 예약현황 상세 팝업
.line-light-gray-lg-box {
  .barcode-box {
    width: 100%;
    text-align: center;
    img {
      display: inline-block;
      vertical-align: top;
    }
  }
}

[class^=ctitle][class$=wrap] {

  .ctitle-sub-lg {
    margin-bottom: 6px;

    .badge-md-group {
      display: inline-block;
      vertical-align: top;

      + .tooltip-group {
        display: inline-block;
        margin: {
          top: 5px;
          left: 4px;
          bottom: 5px;
        }
        vertical-align: top;
      }
    }
  }

  [class^=ctitle] {

    + .box-info-desc {
      margin-top: 6px;

      .stext-sm {
        ~ .stext-sm {
          margin-left: 10px;
        }
      }

    }

  }

  + .tbl-info-wrap {
    margin-top: 6px;
  }

}

// foldOverflowBox
.fold-overflow-box {
  .fold-cont {
    .light-gray-md-box {
      margin-bottom: 16px;
    }
  }
}

.row-line-list {
  .item-gap-lg:not(:last-child) {
    border-bottom: 1px solid variables.$colorGray30;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}

