@use 'sass:map';
@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.delivery-status-col-list {
  position: relative;
  @include mixins.justify_width(center, between);

  .delivery-item {
    // active
    flex: 1;
    position: relative;
    padding-top: 16px;
    min-width: 45px;
    font-size: 0;
    text-align: center;

    .status {
      display: block;
      @include mixins.font_size_md;
      color: variables.$colorBlack;
    }

    .sub-status {
      display: block;
      margin-top: 1px;
      @include mixins.font_size_sm;
      color: variables.$colorGray60;
    }

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      display: block;
      width: 100%;
      height: 2px;
      vertical-align: top;
    }

    &:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 50%;
      @include mixins.prefix(transform, translateX(-50%));
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      vertical-align: top;
      background-color: variables.$colorWhite;
    }

    &.is-active {
      .status {
        color: variables.$colorGreen100;
      }

      ~ .delivery-item {
        // 그레이로
        &:before {
          background-color: variables.$colorGray30;
        }
        &:after {
          border: 2px solid variables.$colorGray30;
        }
      }
    }

    &:first-child {
      &:before {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }

    &:last-child {
      &:before {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }

  &:has(:not(.is-active)) {
    .delivery-item {
      // 그레이로
      &:before {
        background-color: variables.$colorGray30;
      }
      &:after {
        border: 2px solid variables.$colorGray30;
      }
    }
  }

  &:has(.is-active) {
    .delivery-item {
      // 그레이로
      &:before {
        background-color: variables.$colorGreen100;
      }
      &:after {
        border: 2px solid variables.$colorGreen100;
      }
    }
  }

  ~ .fold-overflow-box,
  ~ .light-gray-md-box {
    margin-top: 16px;
  }
}

.delivery-status-row-list {
  .delivery-item {
    position: relative;
    padding-left: 35px;
    padding-bottom: 16px;
    font-size: 0;

    .stext {
      width: 100%;
      font-weight: variables.$fontWeightMedium;
    }

    .date {
      display: block;
      width: 100%;
      margin-top: 4px;
      @include mixins.font_size_sm;
      color: variables.$colorGray60;
    }

    .sub-status {
      display: block;
      width: 100%;
      margin-top: 4px;
      @include mixins.font_size_sm;
      color: variables.$colorGray60;
    }

    .status {
      @include mixins.font_size_sm('md');
      color: variables.$colorGray60;
    }

    &.is-completed {
      .stext {
        color: variables.$colorBlack;

      }

      .status {
        color: variables.$colorGreen100;
      }

      &:after {
        top: 0;
        left: 9px;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        @include mixins.ratio_images('~/assets/images/delivery/ico_check_white_2xs', 7px 5px, center);
        background-color: variables.$colorGreen100;
      }
    }

    &.is-incomplete {
      .stext {
        color: variables.$colorRed100;
      }

      .status {
        color: variables.$colorRed100;
      }

      &:after {
        top: 0;
        left: 9px;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        @include mixins.ratio_images('~/assets/images/delivery/ico_check_white_2xs', 7px 5px, center);
        background-color: variables.$colorRed100;
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      vertical-align: top;
      left: 16px;
      top: 6px;
      width: 1px;
      height: 100%;
      border-left: 1px solid variables.$colorGray30;
    }

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      vertical-align: top;
      left: 14px;
      top: 5px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: variables.$colorGray30;
    }

    &:last-child {
      padding-bottom: 0;

      &:before {
        content: initial;
      }
    }
  }
}

// 배송상품선택
.glist-wrap {
  .grid-col4-list.gap-sm {
    .item-grid {
      width: 100%;

      .btn-light-gray-sm {
        width: 100%;
        padding: 0 5px;
      }

      &.is-active {
        .btn-light-gray-sm {
          border-color: variables.$colorGreen100;
          background-color: variables.$colorWhite;

          .text {
            color: variables.$colorGreen100;
          }
        }
      }
    }
  }
}

.row-line-list {
  .item-pay-discount {
    padding: 10px 0;

    .flex-center-group {
      .flex-right {
        .btn-line-light-gray-xs {
          margin-left: 10px;
        }
      }
    }

    .pay-discount-box {
      margin-top: 10px;
      padding: 9px 16px 8px;
      border-radius: 10px;
      background-color: variables.$colorGray10;

      .goods {
        @include mixins.font_size_md('md');
        color: variables.$colorBlack;
      }

      .btn-delete {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: top;
      }
    }

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .item-order-pay {
    padding: 16px 0;

    .ui-rdo {
      width: 100%;

      input + label {
        width: 100%;
      }
    }

    .order-pay-cont {
      margin-top: 16px;

      .btn-flex-wrap {
        .btn-line-light-gray-md {
          padding: 0 5px;
        }
      }
    }

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

// 현금영수증 정보
.cash-receipt-info-wrap {
  margin-top: 30px;

  .white-md-box {
    margin-top: 16px;

    .ctitle-md-wrap {
      .flex-center-group {
        .flex-right {

          .glist-wrap {
            .grid-col2-list {
              gap: 16px;
            }
          }
        }
      }
    }
  }

  .light-gray-sm-box {
    .glist-wrap {
      .grid-col2-list {
      }
    }
  }
}

.scroll-box {
  overflow-y: scroll;
  max-height: 292px;
  padding: {
    left: 16px;
    right: 16px;
    top: 16px;
    bottom: 16px;
  }
  margin: -16px;
}

.box-info-header {
  .badge-md-group {
    margin-bottom: 6px;
  }

  .ctitle-md-wrap {
    .box-info-desc {
      font-size: 0;
      margin-top: 6px;

      .title {
        @include mixins.font_size_sm('md');
        color: variables.$colorBlack;

        ~ .stext {
          margin-left: 10px;
        }
      }
    }
  }
}
