@use 'sass:map';
@use '../../abstracts/variables';
@use '../../abstracts/mixins';
@use '../../base/components';

/* 임시 작성 - 삭제 예정 */

// 메인
.inquiry-guide-info {
  gap: 10px;
  @include mixins.justify_width('center');

  .ico-inquiry-guide {
    flex: 1 0 42px;
  }
}

.alert-count-group {
  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
    overflow: hidden;
    @include mixins.ratio_images('~/assets/images/delivery/bg_alert_reservation');
  }

  &.type-delivery {
    &:before {
      @include mixins.ratio_images_change('~/assets/images/delivery/bg_alert_delivery');
    }
  }

  &.type-history {
    &:before {
      @include mixins.ratio_images_change('~/assets/images/delivery/bg_alert_history');
    }
  }

  .stext {
    display: inline-block;
    margin: {
      top: 1px;
      right: 4px;
    }
    vertical-align: top;
  }

  .goods-lg {
    color: variables.$colorGray90;
    font-weight: 600;
  }
}
